[2020-09-21 16:39] PatReynolds commented on #158
@PatReynolds  and @DeniseColbert  to write specification

[2020-09-21 16:51] richpomfret commented on #156
One for @jayto581

[2020-09-21 17:00] PatReynolds commented on #115
Decision: go with boxes.
Give each a header - left Useful Links right Statistics

[2020-09-21 17:24] jayto581 commented on #159
Here are the details

https://docs.google.com/document/d/1o8qG2pvaXZd8UqrpVnrj3VpRbJ1L4hzsazs2AjwyL0k/edit?usp=sharing
@richpomfret @Captainkirkdawson

[2020-09-21 22:42] AlOneill commented on #160
@PatReynolds A 'little pause' would be a comma. If that is not enough, then different punctuation is probably not the answer — there is apparently no single way that screen-readers attach pauses of particular lengths to different punctuation marks. The pause length could be the same, irrespective of the mark.

[2020-09-21 22:54] AlOneill commented on #88
@Vino-S I don't think you can see the fix on Slack, because of the channel it's on.

It's a one-line addition to https://github.com/FreeUKGen/MyopicVicar/blob/master/app/assets/stylesheets/styles/scss/lap_and_up.scss.erb

Starting at line 103, this is the change:

  .site\_\_header\_\_logo {
    float: left;
    position: relative;
    z-index: 3;
    &:focus,
    &:hover {
      background-color:

[2020-09-22 13:51] AlOneill commented on #160
@PatReynolds I should've added that if you do not want the comma to be visible, put it in a `span.accessibility`

[2020-09-28 17:00] richpomfret commented on #275
@AlOneill to offer her thoughts..

[2020-09-29 16:42] PatReynolds commented on #266
@geoffj-FUG is this still needed as a web page, or will it be part of the handbook?

[2020-09-29 23:01] geoffj-FUG commented on #266
The Handbook is primarily a How to ... It does not cover generalities.
The Handbook is now 107 pages and growing. Behind the scenes sounds like general information. The Handbook will be daunting.
That is why I am creating 2 more documents - a Quickstart Guide to Transcribing which is really for experienced transcribers and a Ready Reference which I suspect will be the reference for most transcribe

[2020-09-30 08:32] PatReynolds commented on #266
Thanks, @geoffj-FUG

Looks like a fairly quick job (famous last words) I'll move into sprint backlog as I may need to be in the office, but not doing much over the weekend.

[2020-09-30 19:55] jayto581 commented on #160
Current text:
Search engine, layout and database Copyright © 1998- 2020 Free UK Genealogy CIO , a charity registered in England and Wales, Number 1167484. We make no warranty whatsoever as to the accuracy or completeness of the data.

Suggested updated text:
Search engine, layout and database Copyright © 1998-2020 **by** Free UK Genealogy CIO, a charity registered in England and Wales, Number 1167

[2020-10-01 08:44] PatReynolds commented on #160
I like that suggestion, @jayto581

[2020-10-01 13:23] jayto581 commented on #114
New branch created and pull request submitted

[2020-10-01 20:15] jayto581 commented on #115
Here is the latest footer mock-up:
https://jayto581.github.io/FUG_Demo/

I ran the Google WAVE accessibility test, as suggested by Daniel-silve1ra  and fixed all errors.

I will start working on the production code.

Changelog:
-refactor and clean-up HTML and CSS code
-restructure for mobile first design
-add aria roles (landmarks)
-add heading to boxes, left Useful Links and right Statistics
-fix

[2020-10-01 20:19] jayto581 commented on #91
Here is the latest footer mock-up:
https://jayto581.github.io/FUG_Demo/

I ran the Google WAVE accessibility test, as suggested by Daniel-silve1ra  and fixed all errors.

I will start working on the production code.

Changelog:
-refactor and clean-up HTML and CSS code
-restructure for mobile first design
-add aria roles (landmarks)
-add heading to boxes, left Useful Links and right Statistics
-fix

[2020-10-01 22:50] AlOneill commented on #115
@jayto581 Looks great!

I am concerned that some of our users, for a variety of reasons, will be viewing on browsers that do not understand CSS `grid`. For instance, my text-editor is up-to-date but the preview does not understand `grid` yet.

I _could_ set up a full local instance to test how the footer degrades, but wonder if (hope that!) you have had a chance to do so yourself?

[2020-10-02 08:19] PatReynolds commented on #91
Thanks, @jayto581 the email links to www.freeukgenealogy.org.uk _may_ need changing following 48 hours of intensive development on the site (we have the services of a team of developers etc for the weekend who will be hauuling the site from Craft to Wordpress. I can ask if the page names can be fixed sooner rather than later if you want to go ahead with the build this weekend.

[2020-10-02 13:56] AlOneill commented on #115
@jayto581 Digging a little deeper, `text-decoration: underline` on the social media icons _does_ have an impact on Firefox and Chrome. Look at the line that appears in the top of the outline on focus/hover:

![FreeREG_Footer_Dev_-_Final_Design](https://user-images.githubusercontent.com/14852554/94928469-a34c1580-04bb-11eb-90ad-c876a1313667.png)

On Safari, the focus/hover is clean, I agree, but …

[2020-10-03 17:09] jayto581 commented on #115
@AlOneill I did a quick check using Internet Explorer 11 on my Windows 10 computer.
The mock-up site is legible and functional. The source order has not changed.

However, it only shows the small screen layout i.e. everything is stacked in a single column. The spacing is also a little off, otherwise, it looks and works okay.

The mock-up site does not have any fallback code yet to support older br

[2020-10-03 17:09] jayto581 commented on #88
Until we can resolve this problem, I have written a hack so it works properly on the new footer design.

[2020-10-04 15:35] AlOneill commented on #115
@jayto581 Is this what you see on IE 11? Same spacing issues? (Curiosity got the better of me — this is from the editor that does not understand CSS `grid`. And although I understood your description of the issues, others might not.)

![FreeREG_Footer_Dev_—_Final_Design-legacy](https://user-images.githubusercontent.com/14852554/95019209-ef35c080-065b-11eb-84f8-24f3a95744b3.png)

If these issues ar

[2020-10-05 09:16] richpomfret opened #161 "IAB TCF v2.0 update/change required (advertising)"
From our advert pals MM.

'Google, most other advertisers, and advertising technology providers, and as well as for analytics providers, are now mandatorily requiring a TCF 2.0 compatible CMP to be loaded'. We are told this will impact upon advertising and is therefore high priority.

https://support.google.com/admanager/answer/9999955

See email for specific instructions and recommendations (fund

[2020-10-05 16:11] PatReynolds commented on #115
@DeniseColbert  to find out the number of users affected.

[2020-10-05 16:15] #91 closed

[2020-10-05 16:20] Vino-S commented on #114
Ran into merge error in Gemfile.lock file. Looking into it

[2020-10-05 16:26] PatReynolds commented on #147
Need to decide what we want the framework to do, and see how this affects the options.  Story on ice until we have the resources.

[2020-10-05 16:27] PatReynolds commented on #88
@Vino-S  to push to test.

[2020-10-05 16:28] PatReynolds commented on #160
incorporated in the main footer redsign, so closing.

[2020-10-05 16:28] #160 closed, assigned to nobody

[2020-10-05 16:30] PatReynolds commented on #161
@richpomfret to specify actions

[2020-10-05 16:32] PatReynolds commented on #159
@Vino-S to undertake this.

[2020-10-05 16:38] PatReynolds commented on #151
Coulrs will need updating within the code - @Vino-S

[2020-10-05 16:43] DeniseColbert commented on #115
FUG- **1.69%** of users - 97% of them use IE11, 3% use IE10
FreeBMD - **3.07%** - 99.3% of them use IE11, 0.4% IE9, 0.3% IE10
FreeCEN1 - **4.05%** - 100% of them use IE11
CEN2 - **2.61%** - 97% use IE11, 2% IE9, 0.5% IE10, 0.5% IE7
FreeREG - **2.4%** - 95% use IE11, 3% IE9, 1% IE7, 0.5% IE10

Overall, 2.8% of all users use IE
97.8% of these use IE11
0.86% use IE10
1.08% use IE9
0.3% use IE7

[2020-10-06 00:05] AlOneill commented on #115
@jayto581 Don't know how I missed this until now, but a `p` cannot be a (direct) child of a `ul` or a `dl`. Suggest you move to immediately before each list and mark up each with a `div` instead of a `p` — this will remove unwanted paragraph spacing. Unfortunately, the border styling will need to be re-directed.

[2020-10-06 00:18] AlOneill commented on #115
@jayto581 Also don't think an empty list item should be used merely to create a space (a screen-reader will announce the number of items in the list …). Try `.push--bottom` or '.push-half--bottom` on the 3rd list-item.

[2020-10-08 20:50] AlOneill commented on #139
Vino has enabled Images in Refinery on BMD t3.

Continuing to update Guide — last update 07/10/20

[2020-10-08 21:41] AlOneill commented on #153
I suggest that, while we do not have a 'skiplink' in place, the element with `id="top"` should be `<main class="site__content  icon__honeycomb--top-right">`.

This is because a keyboard-only user would typically _not_ want to return to a point before the main navigation — and then have to tab through all the header/nav items, again!

[2020-10-09 08:27] PatReynolds commented on #153
That sounds reasonable to me, @AlOneill

[2020-10-19 11:36] PatReynolds commented on #158
Document for discussion at: https://docs.google.com/document/d/1LD9zyYV1en5uzx0zP2_QSnMtSEuH3Vz_IQWWqvMEytU/edit?usp=sharing

[2020-10-19 13:59] DeniseColbert opened #162 "Footer consistency"
FreeUKGEN new website footer story: https://github.com/FreeUKGen/FreeUKGenealogyWP/issues/42

Very draft form, but minded to keep the 'sections'.

Thoughts invited from systemwide team on carrying over the new footer style

[2020-10-19 14:02] DeniseColbert commented on #156
An option could be making the section heading 'Statistics' a link to the Records page

[2020-10-19 15:33] richpomfret commented on #62
Now on @Vino-S to implement code to block the MM advert code (as per email chain) if the user selects 'no'. In which case, we must then trigger non-personalised Adsense adverts instead.

[2020-10-19 15:34] Vino-S commented on #114
ready for testing on FR:test2

[2020-10-19 15:34] Vino-S commented on #88
ready for testing on FR:test2

[2020-10-19 15:38] richpomfret commented on #117
Remains in-progress - we still have additional volunteers coming through. Shall discuss with @Vino-S in terms of managing them/getting them set-up.

[2020-10-19 15:48] AlOneill commented on #88
@Vino-S Looking good for hover and focus! Thank you. (Now to get the other logo hover/focus states fixed for Safari …)

[2020-10-19 15:54] richpomfret commented on #161
I have emailed through the actions required and @PatReynolds and @Vino-S are currently looking at it (although it does not appear to be that straight-forward!).

[2020-10-19 16:16] richpomfret commented on #161
@PatReynolds shall we have a chat about this?

[2020-10-19 16:17] richpomfret commented on #137
@lemon-ukgen how are we getting along with this?

[2020-10-19 16:18] richpomfret commented on #67
@PatReynolds another one for us to discuss this week.

[2020-10-19 16:20] richpomfret commented on #141
@PatReynolds @AlOneill can we close this? Is it complete or do we need a separate story?

[2020-10-19 16:33] richpomfret commented on #156
Discussed in systemwide meeting - sounds like a good idea. @PatReynolds thoughts?

[2020-10-19 16:58] AlOneill commented on #141
Have fixed on t3 on all 3 sites — except that on BMD the image moves down a little on focus/hover. Puzzling. Will investigate.

[2020-10-19 17:21] AlOneill commented on #141
BMD issue solved — mea culpa. So all t3 sites now working as expected, even on Safari.

However, the fix is temporary: style is currently applied in each page.

We need to move the styling into an appropriate place in our SCSS, so that is the separate story.

[2020-10-19 18:04] AlOneill commented on #114
@Vino-S thank you.

The shadows on the buttons have gone as expected, but some have lost their vertical centring, for example:

![btn-no-shadow.png](https://images.zenhubusercontent.com/5ce6b34165b1a70acc0a9124/1459afc1-86a1-425b-8c64-da1aa73f80b5)

Need to investigate extent of issue and devise a solution — should not be difficult.

[2020-10-19 18:43] AlOneill commented on #114
@Vino-S Buttons still have shadows for focus/hover and active states: have all **four** lines relating to shadow been deleted?

(Sorting out the ladda buttons, like the Search button above, looks to be more complicated than I'd anticipated — perhaps that's why we didn't fixed them long ago?)

[2020-10-19 19:16] AlOneill commented on #151
This task seems straightforward enough, based on the work that had to be done to the icons when we updated our colour palette. Can I assume from the presence of a pull request that an updated data SVG background image is the aim? Do we also want a PNG image?

Are the colours in the "New" part of the image in the description the actual colours required?

If others are too busy, then I could do it.

[2020-10-20 09:11] archerbarrie opened #163 "Errors being generated by advert code"
Opening FreeBMD in a browser is generating lots of errors relating to adverts. An example (using Microsoft Edge) is here [FreeBMDAdvertErrors20201020.txt](https://github.com/FreeUKGen/Systemwide/files/5407493/FreeBMDAdvertErrors20201020.txt) where the items under consideration are the tracking prevention errors. In Firefox the description of this error is like
`Cross-Origin Request Blocked: The Sa

[2020-10-20 09:22] PatReynolds commented on #163
Contacted MonetizeMore with this issue 20/10/2020

[2020-10-20 09:55] PatReynolds commented on #156
Very good - says she who opened the story (so may be biased!)

[2020-10-20 15:28] PatReynolds commented on #156
Denise's idea of  making the section heading 'Statistics' a link to the Records page is good too (belt and braces).

[2020-10-23 00:23] jayto581 commented on #114
@AlOneill The deprecation warnings were cause by the deprecated Sass color math feature.
The four lines using this feature were deleted from the _beautons.scss file in the pull request.

These line removed the  box-shadow property from the .btn and .btn:active selectors.
However, the box-shadow property is also used  for the .btn:focus and .btn:hover selectors on lines 34 (see below).
Should this

[2020-10-23 00:40] jayto581 commented on #115
@PatReynolds @DeniseColbert @richpomfret @AlOneill
Here is the latest footer mock-up:
https://jayto581.github.io/FUG_Demo/

Changelog:
-refactor site to address misplaced headings and empty list item
-make the section heading 'Statistics' a link to the Records page
  https://www.freereg.org.uk/freereg_contents/new?locale=en
-update useful links, they now go to the same sites as the production syst

[2020-10-23 00:48] jayto581 commented on #156
Please see footer demo site for implementation.
https://jayto581.github.io/FUG_Demo/

[2020-10-23 08:53] PatReynolds commented on #156
That's great, thank you.

[2020-10-23 14:06] archerbarrie opened #164 "User complaint about adverts"
FreeBMD support has received the following complaint about adverts:

This can be seen happening in [this recording](https://test.freebmd.org.uk/FreeBMDAdvertProblem.mp4) where the change of adverts causes the advert space to collapse and the text to move up.

This needs to be addressed by the our advert supplier, either directly or telling us how to avoid the issue.

(Note: I have had to put the r

[2020-10-23 14:11] archerbarrie opened #165 "FreeBMD misleading advert"
The following advert, which appeared in FreeBMD (on 22/10/2020) is very misleading because it confuses searching FreeBMD with the services offerred by the advertiser:
![InappropriateAdvert](https://user-images.githubusercontent.com/14543258/97014061-bfcef100-1541-11eb-9971-3788a27857cc.jpg)

We need to find some way of avoiding these confusing adverts.

[2020-10-23 19:26] Captainkirkdawson commented on #275
Improved handling for smaller displays on test3

[2020-10-24 13:52] AlOneill commented on #114
@jayto581 Apologies for being less than clear. Yes, all lines that set or alter a box-shadow on a button should be deleted, including the line for focus and hover states.

Thank you.

[2020-10-25 16:43] PatReynolds commented on #266
@geoffj-FUG could you send me the duty statements and I'll see whether they are best added here, or elsewhere.

Draft is here: https://test3.freecen.org.uk/cms/behind-the-scenes

[2020-10-25 16:49] PatReynolds commented on #266
Also needs two coord roles merging, as per FreeUKGen/FreeCENMigration#847.

[2020-10-25 21:57] jayto581 commented on #114
New branch created and pull request submitted

[2020-10-26 00:04] jayto581 commented on #115
@richpomfret The following are the proposed pull requests to implement the new footer design
    1. Update icons.data.svg.css file(s) with new svg data
    2. Upload new scss files to FreeUKGenealogy-Core-Frontend\styles\scss\ folder
    3. Update scss files to use new scss files
    4. Update footer erb files – part 1
    5. Update footer erb files – part 2

[2020-10-26 17:28] PatReynolds commented on #275
@PatReynolds to add advice to enhanced cookie consent to use landscape view for best experience.

[2020-10-27 05:17] lemon-ukgen commented on #137
Coming along. We've copied 260GB of data to Backblaze so far, 150GB to go for transcription data. The image and databases will follow (somewhat larger).

[2020-10-27 14:55] AlOneill commented on #115
@jayto581 Looking good!

On a practical note, I'm wondering about the wisdom of locking the extra vertical space to the 3rd list item in the 'Useful links' section. Somewhere down the line, we'll no doubt (!) be asked to add another item, perhaps to the top group of links — can't be done easily. If the extra vertical space was achieved with a class, or even with inline styling, the list markup cou

[2020-10-28 16:56] DeniseColbert commented on #158
Found an email from Brenda 17th Sept with the offer of a spreadsheet for FreeCEN:
The total of the populations over the six censuses being covered is 152,045,740 making the actual percentage completed and online 26.03%. Of the six censuses, the most complete on FreeCen is 1861 with 11,864,125 individuals transcribed out of a total population of 23,128,518 being 51.30%. To me, percentage completed/

[2020-10-30 15:00] Vino-S opened #167 "Donate banner does not show up on Adblock"

[2020-10-31 15:20] Captainkirkdawson commented on #35
Given the inherent delays over the past year the software plan has been updated to recognize the work done on CEN2 as well as where we are in OS and test servers..
1. Basic OS upgrade on vervet
2. Update ruby to 2.6.6 on vervet
3. Production server basic OS upgrade
4. Deploy ruby to production servers
5. Update OS and ruby to night
6. Transition our ruby test sites from vervet to night
7. Update b

[2020-10-31 15:22] PatReynolds commented on #134
New Free UK Genealogy wordpress website to have a tool for comments, which will include specifying which project.

https://test3.freebmd.org.uk/cms/about/draft-about-your-reviews ready for testing.

Page set up on FreeREG - where to get feedback to put on it?

Page set up on FreeCEN - where to get feedback to put on it?

[2020-10-31 19:32] Captainkirkdawson commented on #35
1 and 2 have been done. It is planned that 3 and 4  will be done in the next maintenance window. That will be followed by a break as we deploy CEN2

If agreed will write the specific stories if it is deemed necessary

[2020-11-02 15:22] Captainkirkdawson commented on #166
Have we not just changed the colour to the project colours?

[2020-11-02 15:23] Captainkirkdawson commented on #166
Isn't teal REG?

[2020-11-02 15:45] jayto581 commented on #115
@AlOneill I am sure the design will change in the future but, it should be  relatively easy to change the code.

We could  delete the extra vertical space on the left side. But this would make the footer unbalanced due to the extra text on the right side. We would need to add some extra links to balance the design.

I agree about the possible confusion to screen-reader users with the link on the s

[2020-11-02 16:28] PatReynolds commented on #67
MM are now imple,menting a standardized consent (Google  AdManager) on our projects. @Vino-S is implementing on FreeCEN.

I need to look at using Admanager on www.freeukgenealogy.org.uk (even though it does not serve adverts).

I need to look at using the Admanager Adblocker on the advert serving websites (tried to do this last week but need to link to our Privacy Policy and it would not accept th

[2020-11-02 17:05] Vino-S commented on #161
Implemented googlefc.controlledMessagingFunction. Ready for testing in FR:test3

[2020-11-02 17:07] richpomfret commented on #88
@AlOneill can we change this to complete/ready for deployment or does this mean it isn't quite all done yet?

[2020-11-02 17:11] PatReynolds commented on #35
@PatReynolds to create issues in the epic. 2 already a story - others may also be there, so check first.

[2020-11-02 17:15] PatReynolds commented on #158
@PatReynolds to contact and ask for data.

[2020-11-02 17:21] PatReynolds commented on #161
Pat to look at using the ad blocker version on our sites, also at alternatives to the Google AdManager side.

[2020-11-02 17:24] richpomfret commented on #114
@Vino-S will merge the pull request.

[2020-11-02 17:27] AlOneill commented on #88
@richpomfret This specific issue is done and ready for deployment.

There is a separate but related issue of missing visible focus/hover in Safari for the other project icons in the footer. Fixing the latter is partly dependant on other footer issues. I haven't had a chance to investigate for current footer; @jayto581  is working on new footer.

[2020-11-02 17:32] richpomfret commented on #141
@AlOneill fantastic, thank you! Has the separate story been made? If so, I think we can move this into test/close it.

[2020-11-02 17:35] richpomfret commented on #115
@richpomfret to turn this into an EPIC after creating separate stories as listed above.

[2020-11-02 17:44] Vino-S commented on #114
Ready to be tested FR:test2

[2020-11-02 17:59] AlOneill commented on #141
This particular issue is done.

How we move the styling into our SCSS depends on #151 — updating the colours and layout of the button. If we are going to use an SVG background image (the simplest in the long run), then the styling, including focus/hover, will be a part of that issue and will be solved when that is done. If we are going to stick with PNG, the styling will need to be added to our SC

[2020-11-02 18:04] richpomfret commented on #166
Duplicate of 83, so closing.

[2020-11-02 18:04] #166 closed

[2020-11-02 18:09] AlOneill commented on #114
@Vino-S Excellent. Thank you. Ready for deployment.

[2020-11-02 18:31] richpomfret commented on #115
@DeniseColbert and @PatReynolds to provide placeholder 'stats' to include for FC and BMD.

[2020-11-02 18:34] richpomfret opened #168 "Update icons.data.svg.css file(s) with new svg data"
Part 1 of the improving footer epic.

[2020-11-02 18:35] richpomfret opened #169 "Upload new scss files to FreeUKGenealogy-Core-Frontend\styles\scss\ folder"
Part 2 of the Improving footer epic.

[2020-11-02 18:36] richpomfret opened #170 "Update scss files to use new scss files"
Part 3 of the improving footer epic.

[2020-11-02 18:37] richpomfret opened #171 "Update footer erb files – part 1"

[2020-11-02 18:37] richpomfret opened #172 "Update footer erb files – part 2"

[2020-11-03 10:35] PatReynolds commented on #266
I have not merged the two coords roles but - I hope - explained that both are combined in the single role of Coord, but with actions on the different buttons.

Does the table need editing @Captainkirkdawson to make it clearer which buttons have tools for managing the team and its members, and which for managing the county?

@geoffj-FUG is there anything that a volunteer would expect to be told abo

[2020-11-03 11:27] geoffj-FUG commented on #266
Pat

I have picked out a couple of Coordinator Actions and duplicated them in the Handbook. That is where they will probably look first.

Do you want to add Download Handbook to the Actions table?

I am not aware of anything that is not in the Handbook or not in ‘Behind the Scenes’. The Handbook is dynamic so anything that pops up can be easily added.

Geoff

[2020-11-03 11:29] geoffj-FUG commented on #266
Pat

Coordinator Actions link from Behind the scenes page is not working. Nor are the links below it.

Geoff

[2020-11-03 17:00] Captainkirkdawson commented on #266
@PatReynolds

A number of observations.
1. Your paragraph on the county and syndicate roles is fine.
2. I am surprised that neither the REG nor the CEN versions talk about the 4th communication action. Specifically the Communicate action that allows the user to: The Communicate action allows you to communicate directly with members of the FreeREG team. Every user has it.
3. The coordinator help bu

[2020-11-04 12:52] DeniseColbert commented on #134
Lots for FreeREG here: https://docs.google.com/document/d/1UwzdMRSlHPYHxG2cZceagWQhSlYMLEIyLZdTxm3Ag2E/edit?usp=sharing

Working on the FreeCEN section

[2020-11-08 12:51] PatReynolds commented on #165
I can block those which are served via Google adsense, and refer other adverts to MonetizeMore.  Ideally, I need the url that it goes to (may not be the url on the advert).

In this case, it isn't on Google Adsense with that name/url.

I'll ask our UX./design people if they have any ideas on presentation that might alert users better. @DeniseColbert can you take a look?

[2020-11-09 14:30] jayto581 commented on #115
@PatReynolds @DeniseColbert

Just checking:  FreeBMD has the following copyright text on the MyopticVicar setup.

	“Data © Crown copyright. Published by permission of the Controller of HMSO and the Office for 	National Statistics (ONS). You must not copy on, transfer or reproduce significant portions of data 	without the prior permission of the ONS.

	Search engine, layout, and database Copyright

[2020-11-09 14:32] jayto581 commented on #115
@PatReynolds @DeniseColbert
The following text will appear if FreeREG is unable to access the database statistics information:
“Statistics temporarily unavailable”.

![image.png](https://images.zenhubusercontent.com/5eae004e96ceac05e8804b35/eee0583f-001f-4d37-b30b-c65e71f20002)

Occasionally, the number of added records on FreeREG is a negative value. For example, “Volunteers uploaded --1,234 reco

[2020-11-09 14:35] jayto581 commented on #115
@PatReynolds @DeniseColbert @richpomfret @Captainkirkdawson @AlOneill
The following are the new footer mock-ups for FreeREG, FreeCEN, and FreeBMD. If there are no major changes, I hope to submit the pull requests starting the week of November 16.

FreeREG – Statistics will change as the FreeREG database changes.
![image.png](https://images.zenhubusercontent.com/5eae004e96ceac05e8804b35/33a65f7f-39

[2020-11-12 10:18] PatReynolds commented on #164
Contatced Monetizemore 8/11/2020

[2020-11-16 17:08] PatReynolds opened #173 "Focus/hover in Safari"
missing visible focus/hover in Safari for the other project icons in the footer. Fixing the latter is partly dependant on other footer issues. I haven't had a chance to investigate for current footer; @jayto581 is working on new footer.

[2020-11-16 17:10] PatReynolds commented on #158
@Captainkirkdawson and @Vino-S to take a look at the requirement document, please

[2020-11-16 17:30] PatReynolds commented on #141
We now have a SVG version of the static, and have a story to change the colours of the animated version to be in  line with the SVG.

We need to find out if we can use SVG in refinery - @Vino to test.

[2020-11-16 17:34] PatReynolds commented on #163
@Pat to ask MM what has happened.  Last (8 days ago) from MM was 'within the week' - chased 17/11/2020.

[2020-11-16 17:35] PatReynolds commented on #164
@PatReynolds to chase  No response to previous email, chased 17/11/2020

[2020-11-17 09:40] PatReynolds commented on #67
AdManager now accepted a link to our website, and appears to have linked to our Cookie Policy page on FreeBMD1.

@PatReynolds  to enable link, and test on other sites.

@richpomfret to review Cookie Consent pages / interaction with AdManager consent tools on all sites.

[2020-11-17 12:56] AlOneill commented on #141
@PatReynolds If we are going to update the animated version, then creating a class using the static SVG would be a stop-gap measure. However, it could be simpler to animate the CSS transition based on the updated static SVG (rather than update the original animated version itself).

From memory, the original animated version was quite complex in its setup — perhaps most of the complexity was down

[2020-11-17 15:14] PatReynolds commented on #115
Hi @jayto581 Volunters on projects last year:
FreeREG 1035 (active)
FreeCEN 582 (active)
FreeBMD 12412 (all time) est  last year 1994
Free UK Genealogy total est. during last year 3641

[2020-11-17 15:51] DeniseColbert commented on #115
Info here: https://docs.google.com/document/d/1_4uHh4HkHYo3tY32NGNbWMVvTcho3AjjdRhEwC35_34/edit?usp=sharing

@Vino-S could you advise on pulling dynamic stats out of FreeCEN2 for this?

[2020-11-17 16:59] PatReynolds commented on #67
Consent TCF (i.e. Europe), CCPA, and AdBlocking pop-ups  now active on FreeBMD, FreeCEN and FreeREG,

Second pair of eyes needed on TCF, and first pair of eyes on CCPA and AdBlocking. @DeniseColbert  could the volunteers' newsletter ask those in California if they could proof-read, please?  I'll ask on slack for adblock users

[2020-11-17 17:52] archerbarrie commented on #67
I can see **no adverts** on MS Edge or Chrome. I use ADB adblocker on Firefox and nothing comes up. The cookie consent is something of a mess. If you  link to the FreeBMD Cookie Policy from the question "How can I change my choice?" (only visible if you click View More) you get taken to the existing page. This gives a different set of options and I would be surprised if changing them affected the

[2020-11-18 15:11] AlOneill commented on #173
The fix is to add this line immediately after line 265:
`text-decoration: none;`
to https://github.com/FreeUKGen/MyopicVicar/blob/master/app/assets/stylesheets/styles/scss/lap_and_up.scss.erb

[2020-11-19 16:24] jayto581 commented on #173
pull request submitted with fix

[2020-11-20 18:23] AlOneill commented on #115
Well, I hope @jayto581 is still around when we need anything more than a trivial change to the footer — I'm not at all sure that I understand the changes well enough to be of any help!

[2020-11-20 21:47] jayto581 commented on #172
Pull request submitted for review.

[2020-11-20 21:48] jayto581 commented on #171
Pull request submitted for review.

[2020-11-20 21:48] jayto581 commented on #169
Pull request submitted for review.

[2020-11-20 21:48] jayto581 commented on #168
Pull request submitted for review.

[2020-11-20 21:48] jayto581 commented on #170
Pull request submitted for review.

[2020-11-20 23:52] Captainkirkdawson opened #174 "Github has changed their API interface"
@lemon-ukgen @Vino-S
It would appear that Github has recently changed its API credentials authorization. Thes is leading to a crash in the software update scripts when it wants to look up recent commits and also automatically posting feedback or comments.
[update-freecen2] Updating software version
`/home/webserv` is not a directory.
Bundler will use `/tmp/bundler20201120-83808-1tfaagm83808' as yo

[2020-11-21 23:20] Captainkirkdawson commented on #174
Have updated all servers mongo_config.yml for cen2 and reg2 production with the new GitHub access userid and personal access token

[2020-11-21 23:23] Captainkirkdawson commented on #128
Implemented as part of CSVProc

[2020-11-23 10:16] PatReynolds opened #175 "Create standard typography for common settings (e.g. web, online document, print document)."
Document current practices / develop standards

Needs to be included in both Branding Book and the Standards Guide

[2020-11-25 18:03] DeniseColbert commented on #134
Form for FreeREG sent to @PatReynolds 25/11

There are two Reviews pages on Test3 FR- one in the structure with reviews already there, and one marked DRAFT with the name "Katherine" only. I'm thinking I should make a copy of the former and mark it DRAFT (but distinct from the other one), and add the reviews and the form in there?

[2020-11-25 23:39] AlOneill commented on #173
@jayto581 Sorry to be a clutz (not quite the correct word), but where can this be reviewed? Many thanks.

[2020-11-26 17:38] PatReynolds opened #176 "Consider fallbacks for Museo and reconsider fallbacks for Source Sans Pro"
Arising from Brand Book:
Current fallback for Source Sans Pro is Helvetica Neue > Helvetica > Arial > sans-serif
Q: is there a better choice than Helvetica, which does not look so good

For special use:
Museo  > Fauna ONE  > Source Serif Pro > Courrier New ???
Q: is this good?  Is there better?

[2020-11-26 20:57] lemon-ukgen commented on #35
3 and 4 now complete.

[2020-11-30 17:16] #174 closed, assigned to Captainkirkdawson

[2020-11-30 17:17] PatReynolds commented on #128
Reviewed, now in operation on FreeCEN.

[2020-11-30 17:17] #128 closed, assigned to Captainkirkdawson

[2020-11-30 17:20] PatReynolds commented on #161
@richpomfret to take a look at current status @PatReynolds to chat with him later.

Are the three consents working?

[2020-11-30 17:25] PatReynolds commented on #173
Pull requests need actioning (after the current work on FreeCEN/FreeREG).  @jayto581 to let @AlOneill know when pull requests have been actioned (anticipating this will be New Year, or late December).

[2020-11-30 17:39] #116 closed, assigned to nobody

[2020-11-30 18:06] PatReynolds commented on #134
False draft deleted.  @DeniseColbert I rather think the code in the  non-draft is awful, and content may have come from FreeREG1.

The html from the FreeBMD2 version should be ok.

[2020-11-30 18:19] jayto581 commented on #173
@AlOneill Sorry for the confusion. I thought the pull request was processed.

Due to all the work and testing required for the FreeCEN and FreeREG migration projects,  action on non-related pull requests will be suspend until next year.

Cheers

[2020-12-01 13:43] DeniseColbert commented on #134
Moving to Needs Review for checking of the form: https://forms.gle/nU65K3MCFWaAzAvw9

Issues on FreeREG Refinery: HTML vanishing when pasted in,and error upon saving the rare times HTML was accepted so will have to come back to the page editing.

@PatReynolds I've put the HTML in here: https://docs.google.com/document/d/1BfmJptksNDK0OLmPqx3KR-LUTXdcAh6A0DNOqQ2I_lA/edit?usp=sharing

I don't think i

[2020-12-01 18:15] DeniseColbert commented on #176
Emailed Katy 01/12

[2020-12-01 18:30] PatReynolds commented on #139
Thanks, @AlOneill   I've asked @DeniseColbert to look at the Brand Book questions you raise - it does seem to me that we need consistency on some things across not only html, but also print and google applications (etc.).

You ask we could set up the following as classes, subject to policy/brand book — the alternative is either to use existing classes (and entities) on a per element or per instanc

[2020-12-03 16:54] PatReynolds opened #196 "Add About link to the nav bar / Keep visible at all time"
As with FreeCEN and FreeBMD there needs to be a link to 'About' on the top bar

[2020-12-08 11:56] PatReynolds commented on #266
2. working on this now
 3.  could you remove, please, @Captainkirkdawson
4.  now story FreeUKGen/FreeCENMigration#1054
5. working on this now
6. is the table (see https://test3.freecen.org.uk/cms/draft-behind-the-scenes) too much, @geoffj-FUG

[2020-12-08 12:41] PatReynolds commented on #266
Text ready for proofing (https://test3.freecen.org.uk/cms/draft-behind-the-scenes)

This is currently seen as a sub-page for Coordinators (see links on right) but is it needed as a sub-page for Transcribers and others too?  If so, should links on right to be to Help for Coordinators, Help for Transcribers, and ????

[2020-12-10 12:09] DeniseColbert opened #177 "Create "Template" page(s) on Refinery"
**Sidebar page:**
- [ ] 2/3 - 1/3 template on FreeBMD2
- [ ] 2/3 - 1/3 template on FreeCEN
- [ ] 2/3 - 1/3 template on FreeREG

**Single page (no sidebar):**
- [ ] template on FreeBMD2
- [ ] template on FreeCEN
- [ ] template on FreeREG

[2020-12-10 12:15] PatReynolds opened #178 "Issues with new Consent documents"
Various issues are being reported re. the new consent blockers, including-

[2020-12-10 12:15] DeniseColbert opened #179 "Documentation Tidy-Up"

[2020-12-10 12:16] PatReynolds opened #180 "Document the protocol of scrums"

[2020-12-10 12:49] DeniseColbert opened #181 "Create doc for Documentation Volunteers from Pat's speaker's notes"
Speaker's notes: https://docs.google.com/document/d/1sdjFoUAJepqc6xlEbL3fZGxeV-E_Ts0TRvz-RMhxyMs/edit?usp=sharing

[2020-12-10 14:53] AlOneill commented on #67
The wording of the Cookie Notice does not quite work:

"Free UK Genealogy CIO asks for your consent to use your personal data to:
* Personalised ads and content, ad and content measurement, audience insights and product development
    devices
* Store and/or access information on a device"

It is the first item that does not work grammatically, i.e. it does not follow on from "to:".

We need to ei

[2020-12-10 21:56] archerbarrie commented on #67
Whilst strictly speaking data in cookies is personal data (because it identifies an individual) I do not think most people would understand that. Most people think of personal data as something like name, email address, etc. and therefore what most people would understand is that we are going to use information such as that for the stated purposes. These jumbo consent requests are becoming more co

[2020-12-11 11:01] DeniseColbert commented on #158
Pinned as high-priority in light of FreeCEN Roadmap meeting (1911 additions will not be highlighted until these reports are available)

[2020-12-12 12:40] PatReynolds commented on #266
assigned Javier 12/12/2020

[2020-12-12 22:04] geoffj-FUG commented on #266
Pat

Table looks OK to me.

Whilst it needs interpretation I think it serves its purpose. We know what these things mean.

Geoff

[2020-12-12 22:58] AlOneill commented on #266
@PatReynolds I've spotted and corrected some simple typos: a hyphen that should be an em-dash, a missing capital letter and a missing full stop. (I thought it easier to do than to explain!)

I will leave it to others to comment on the content as I'm a little out of touch.

[2020-12-13 18:51] AlOneill commented on #266
On further reflection, there are clearly some Actions missing from the table, but there is not much wriggle room to add them in. Maybe remove and list separately the Actions that are common to all Members?

[2020-12-14 16:13] jayto581 commented on #115
Here is a mock-up of the new footer for FreeBMD with the new link added.
Re: FreeBMD2 - Implement entry information page #284

![image.png](https://images.zenhubusercontent.com/5eae004e96ceac05e8804b35/d8ede552-3813-4759-9953-49196bae7e2c)

[2020-12-14 17:17] richpomfret commented on #161
@richpomfret check/test this.

[2020-12-14 17:19] richpomfret commented on #62
Complete.

[2020-12-14 17:19] #62 closed

[2020-12-14 17:40] richpomfret commented on #35
@jgarmos to check/create stories (see above) and add into the Software Update Epic.

[2020-12-14 17:45] richpomfret commented on #156
Complete - to be deployed.

[2020-12-14 17:46] richpomfret commented on #167
Closing - Vino checked and now fixed.

[2020-12-14 17:46] #167 closed, assigned to richpomfret, Vino-S

[2020-12-18 12:20] DeniseColbert opened #182 "Video on project Communications"
Full video of following actions, edit down for transcribers and Coords

![image.png](https://images.zenhubusercontent.com/5cab6cc818447254e461e741/5d50ec7c-3bb3-4405-9908-abd5d7d7934d)

[2021-01-04 11:35] jgarmos opened #183 "Update OS and ruby to night"

[2021-01-04 11:36] jgarmos opened #184 "Transition our ruby test sites from vervet to night"

[2021-01-04 11:37] jgarmos opened #185 "Update basic OS on mongo servers"

[2021-01-04 11:41] jgarmos opened #186 "Update errbit"

[2021-01-04 11:42] jgarmos opened #187 "Update rails to Rails6 on production servers"
Update to rails 6

[2021-01-04 11:44] jgarmos opened #188 "If positive benefit from new Mongo deploy to mongo servers"

[2021-01-04 11:59] jgarmos commented on #35
I have created some stories for the epic The Software Updates Epic (2020) #123

1. Basic OS upgrade on vervet
2. Update ruby to 2.6.6 on vervet - #116
3. Production server basic OS upgrade
4. Deploy ruby to production servers
5. Update OS and ruby to night - #183
6. Transition our ruby test sites from vervet to night - #51
7. Update basic OS on mongo servers - #185
8. Update rails to version 6 on

[2021-01-05 02:37] lemon-ukgen commented on #183
`night` and the `rails1` jail it hosts are now on FreeBSD 12.2 and Ruby 2.6, to match the test and production servers.

[2021-01-05 02:37] #183 closed, assigned to nobody

[2021-01-05 02:42] lemon-ukgen commented on #185
I believe we can do this before #184 (the preceding task on #35) - it doesn't affect the Ruby test sites.

We had paused work here owing to the large FreeCEN2 deployment late 2020. I'm not sure when we can unpause.

I'd like to get this done soonish since the age of the packaging here is starting to cause some maintenance headaches.

[2021-01-05 09:35] PatReynolds commented on #185
Thanks, @lemon-ukgen. @Captainkirkdawson is FreeCEN2 now in a place where deployments can be paused?

[2021-01-05 15:02] Captainkirkdawson commented on #185
@PatReynolds @lemon-ukgen there is no longer a requirement for this to be paused. CEVProc on Freecen2 has been operational for 6 weeks

[2021-01-06 15:47] archerbarrie opened #189 "Suspected malvertising attack on FreeBMD"
We have had three notifications of what I suspect is a malvertising attack on FreeBMD. This has manifested itself in clicking on a "button" in FreeBMD resulting in a request for credit card details. In two case we know the user complied but got their money back from the CC company. Since an Intrusion Detection scan of the servers has resulted in nothing being found and, in at least one case, the e

[2021-01-06 20:20] AlOneill opened #190 "Re-factor call-outs using the banner class to be more useable for screen-reader users"
Call-out boxes that use the `banner` class are likely to be awkward for screen-reader users because there is too much content (the whole box) in the link-text, and that link will likely be a pain to locate in the list of links that all screen-reader software provides.

Such boxes include information on Soundex and our Cookie Policy. They are found on all 3 projects. They can be re-factored using t

[2021-01-06 20:21] AlOneill commented on #190
Help DRAFT on REG test3 done.

[2021-01-07 00:12] archerbarrie commented on #189
As an interim measure (we hope) a warning is now displayed below targetted buttons saying FreeBMD will never ask for credit card details.

[2021-01-07 11:26] PatReynolds opened #191 "Documentation updates needed"
Various documentation documents need writing / checking.

Tasks:
 - [x] Protocol for using refinery https://docs.google.com/document/d/1hox-YaO3YctWDTzr9yr30jdyPwZ30lyNZb4qnZs5Xf4/edit?usp=sharing - **DONE**
 - [ ] Using Refinery v2 https://docs.google.com/document/d/1lp64jFQ0ew3yDViUQOPxDD0-OqT4_dhtZb-7iw3sHSc/edit?usp=sharing - **DONE BUT NEW SCREENSHOTS NEEDED AND A FINAL SENSE-CHECK**
 - [ ]

[2021-01-07 12:34] PatReynolds opened #192 "Onboarding Ruby Coders Documentation"
Create the documentation tools needed by new Ruby Developer volunteers

[2021-01-08 11:04] PatReynolds commented on #164
Identified culprit as a "google vignette" advert and asked Monetizemore to remove 8 Jan 2021

[2021-01-08 20:44] AlOneill opened #193 "On Refinery pages, replace references to 'Transcriptions' **link** with 'Records'"
Needs doing on all 3 projects. A 'trivial' edit.

Done so far on REG: Help and FAQs — are there any others?

To-do: CEN and BMD (probably alongside re-factoring of `banner` class blocks)

[2021-01-11 09:46] DeniseColbert opened #194 "Consider renaming Master to Main in GitHub"
Wait to see what next month brings https://github.com/github/renaming

[2021-01-11 11:02] PatReynolds opened #195 "Security Reporting Policy"
Proposal from Lemon that we create a publishable security reporting policy (see email 4 Jan to Pat/Rich/Richard for content).

[2021-01-11 17:16] DeniseColbert commented on #194
Concerns for workload as Master is used for pushing changes on our servers.

[2021-01-11 17:19] DeniseColbert commented on #173
Vino to merge into test2 FreeREG for review.

[2021-01-11 17:20] DeniseColbert commented on #168
Vino to mrege into Test2 FreeREG

[2021-01-11 17:20] DeniseColbert commented on #171
Vino to merge into Test2 FR

[2021-01-11 17:21] DeniseColbert commented on #169
Vino to merge into Test2 FR

[2021-01-11 17:21] DeniseColbert commented on #170
Vino to merge into Test2 FR

[2021-01-11 17:22] DeniseColbert commented on #172
Vino to merge into Test2 FR

[2021-01-11 17:24] DeniseColbert commented on #158
Kirk to begin with FreeCEN - stories to be made on project boards.

[2021-01-11 17:28] DeniseColbert commented on #115
To be reviewed in FreeBMD2 scrum on Weds.

[2021-01-11 17:29] DeniseColbert commented on #137
@lemon-ukgen any update on this?

[2021-01-11 17:30] DeniseColbert commented on #139
Pat and Denise are reviewing and updating central documentation weekly on Thursdays and this is on the list (near the top)

[2021-01-11 17:33] DeniseColbert commented on #176
Done - closing

[2021-01-11 17:33] #176 closed, assigned to DeniseColbert

[2021-01-11 17:40] DeniseColbert commented on #189
Sorted with MM - closing

[2021-01-11 17:44] DeniseColbert commented on #177
Not wanted/needed - closing

[2021-01-11 17:44] #177 closed, assigned to nobody

[2021-01-12 12:39] DeniseColbert opened #273 "HistoryPin"
https://www.historypin.org/en/

[2021-01-13 18:10] richpomfret commented on #196
SystemWide - agreed that we should keep About in the header when users are logged in (currently vanishes).

[2021-01-14 01:01] AlOneill commented on #190
'Help' and 'DRAFT Help' on REG test3 both updated too, for good measure.

[2021-01-14 13:14] AlOneill commented on #190
'Help' on CEN test3 updated

[2021-01-14 13:52] AlOneill commented on #190
'Help' and 'DRAFT Help (W-i-P)' on BMD test3 both updated as per this story.

Note that 'Help' (**not** a draft) had been edited, breaking the layout: layout issues now fixed, but there could be other problems.

[2021-01-14 14:11] AlOneill commented on #193
CEN 'Help' updated on t3 and live.

BMD still has 'Transcriptions' as the main menu item, so no action taken.

Are there any more references to be updated?

[2021-01-14 23:31] AlOneill commented on #139
@PatReynolds I've seen your comments and will respond on your document.

I'm a little surprised that the Markup Guide has been copied to CEN t3 — as "DRAFT standards page (copy fromFreeBMD2)". I am in the process of checking and cleaning-up, offline (i.e. in a proper text editor).

The final text _will_ be the same for all 3 projects, but we are not there yet!

[2021-01-15 17:40] DeniseColbert opened #197 "Consider adding a My Messages button to transcriber Actions"
When transcribers receive messages from the team (e.g. the FreeUKGEN volunteer newsletter), the only place for them to access these is in a message alert box on the landing page:

![image (1).png](https://images.zenhubusercontent.com/5cab6cc818447254e461e741/d478436b-7f1b-498d-928c-b167c77e60cf)

There may be a bug on iPad/macOS that stops this being shown:

![image0 (1).png](https://images.zenhub

[2021-01-17 23:42] AlOneill commented on #139
Markup Guide updated on BMD t3.

[2021-01-17 23:49] lemon-ukgen commented on #185
Look to proceed this week.

Current cluster disposition:

[code]

[2021-01-18 03:06] lemon-ukgen commented on #185
Plan:
* [x] [Upgrade FreeBSD](https://docs.google.com/spreadsheets/d/1cFfWzaSr2Ue55VS70g9l5Dz05qTrhFlmCpEC-lWTE7A/edit?usp=sharing) on `mongo1`, `mongo3`, `mongo5`
* [x] Confirm replication up to date
* [x] [stepDown](https://docs.mongodb.com/manual/reference/method/rs.stepDown/) primaries
* [x] Upgrade FreeBSD on `mongo2`, `mongo4`, `mongo6`

[2021-01-19 02:19] lemon-ukgen commented on #185
All done

[2021-01-19 02:19] #185 closed, assigned to lemon-ukgen

[2021-01-19 23:14] lemon-ukgen commented on #184
See also #51 covering previous work

[2021-01-19 23:14] lemon-ukgen commented on #51
See also #184

[2021-01-20 01:58] #184 closed, assigned to nobody

[2021-01-20 01:58] Captainkirkdawson commented on #184
closed as duplicate

[2021-01-22 22:12] Captainkirkdawson commented on #51
@lemon-ukgen have completed the move of cen development to night all that remains is for you to switch the 2 urls so test2/3 point to night and test2.dev/test3.dev point to vervet. @AlOneill and @PatReynolds can you confirm we have all that you expect for refinery on test3.dev.freecenorg.uk  we have done a transfer of assets.

[2021-01-22 22:26] Captainkirkdawson commented on #127
@lemon-ukgen latest stable release is now 4.4.

However it requires we move first to 4.2 so would like to know when you might be able to first install that on night for us

[2021-01-22 23:17] AlOneill commented on #51
@Captainkirkdawson Maybe I've jumped the gun, but the link appears to be broken … even with a dot between freecen and org.

[2021-01-22 23:22] AlOneill commented on #51
@Captainkirkdawson False alarm, link above (lemon, 2020) works.

[2021-01-23 00:47] Captainkirkdawson commented on #51
@AlOneill @PatReynolds  @DeniseColbert  transition made so test3.freecen.org.uk is your base for changes still it is just on a different server now

[2021-01-23 01:04] lemon-ukgen commented on #51
`test{2,3}.freecen.org.uk` is now on `rails1`, and `test{2,3}.dev.freecen.org.uk` is now on vervet.

[2021-01-23 14:56] AlOneill commented on #51
@Captainkirkdawson The 'Pages', 'Images' and 'Files' have all been transferred as expected, as far as I can see.

[2021-01-23 15:18] AlOneill commented on #139
@PatReynolds I happened to notice today that the "DRAFT standards page (copy fromFreeBMD2)" on CEN t3 has been edited by someone (perhaps with the initials PR!!). It is **now out-of-step** with both the latest DRAFT on BMD t3 (17 Jan 21) **and** with the master version which I am continuing to refine.

This is surely the road to confusion.

[2021-01-23 15:27] Captainkirkdawson commented on #51
@AlOneill you should continue to work with test3.freecen.org.uk for FreeCEN as the transitions have been completed.

[2021-01-23 15:32] AlOneill commented on #51
@Captainkirkdawson Already noted.

[2021-01-23 17:46] richpomfret commented on #161
@Vino-S it looks like there is a sense of urgency with this story now. Is this something you can do or Barrie?

[2021-01-24 23:41] AlOneill commented on #139
[Markup Guide](https://test3.freebmd.org.uk/cms/draft-marking-up-pages-in-refinery) updated on BMD.

Not much left to do now!

[2021-01-25 12:19] PatReynolds commented on #43
https://docs.google.com/spreadsheets/d/18r49MWKIgKQa6g05wEvu8P7q48IyPA17VpnJB0lSxCA/edit?usp=sharing updated

[2021-01-25 15:24] Vino-S commented on #173
Ready for testing on test3 FR

[2021-01-25 15:25] Vino-S commented on #172
Ready for testing on test3 FR

[2021-01-25 15:25] Vino-S commented on #170
Ready for testing on test3 FR

[2021-01-25 15:25] Vino-S commented on #169
Ready for testing on test3 FR

[2021-01-25 15:25] Vino-S commented on #171
Ready for testing on test3 FR

[2021-01-25 15:26] Vino-S commented on #168
Ready for testing on test3 FR

[2021-01-25 15:44] AlOneill commented on #173
@Vino-S Which test 3 do you mean? Ordinary t3 or the new dev t3? And which project? All my guesses so far are not right!

[2021-01-25 16:58] Captainkirkdawson commented on #51
@vino to bring REG up to date on rails1

[2021-01-25 17:11] richpomfret commented on #161
@PatReynolds tested it and working on FR. Still needs to be completed in FreeBMD.

[2021-01-25 17:17] richpomfret commented on #67
@PatReynolds to betterize the words and stuff.

[2021-01-25 17:19] richpomfret commented on #67
Note that the consent is changing too for FreeBMD.

[2021-01-25 17:23] richpomfret commented on #168
@DeniseColbert to take a look at this/test it (I'll take a look too).

[2021-01-25 17:25] richpomfret commented on #171
@DeniseColbert part of general testing of the new footer.

[2021-01-25 17:28] richpomfret commented on #43
@Captainkirkdawson to review/check for errors.

[2021-01-25 17:29] richpomfret commented on #163
@PatReynolds to explore where we are with this. @archerbarrie is this still an issue?

[2021-01-25 17:37] richpomfret commented on #153
@AlOneill and @Captainkirkdawson to discuss here what's required.

[2021-01-25 17:40] richpomfret commented on #164
We believe this has now been done.

[2021-01-25 17:48] richpomfret commented on #195
@richpomfret to take a look and see where this currently is.

[2021-01-25 17:55] richpomfret commented on #197
@richpomfret To establish if this is an actual bug on either iPad or MacOS. Discussed in meeting and message button in actions not deemed necessary for transcribers at this point, therefore a fix appears more suitable/appropriate.

[2021-01-25 18:02] archerbarrie commented on #163
Well, yes and no. We are not getting the offending messages but that is probably because we are not loading anything, viz:

which probably explains why we are not displaying any adverts.

[2021-01-25 20:14] SteveBiggs commented on #197
FWIW, I think a 'Messages' button would be much clearer anyway. When you get a message email it says to click the Messages 'button' but there isn't actually a button, just highlighted text saying 'You have N messages'. It could still be placed top left.

[2021-01-26 16:22] DeniseColbert commented on #170
How do I test this?

[2021-01-26 16:23] DeniseColbert commented on #169
How do I test this?

[2021-01-26 16:37] DeniseColbert opened #198 "Deploying the new footer"
As the separate stories for testing (most of which I don't know how to test) seem to just make up the testing of the new footer, this story is to record that.

[2021-01-26 16:43] DeniseColbert commented on #198
![image](https://user-images.githubusercontent.com/19173257/105875313-91a3f600-5ff5-11eb-844d-3ee76a7b3d6d.png)

Looks good, apart from a few things:

- Statistics aren't appearing
- A touch too much grey space at the bottom of the footer
- FreeUKGenealogy should have spaces: Free UK Genealogy

[2021-01-27 16:11] AlOneill commented on #190
There is a banner class call-out on the Transcriber Registration page which will have to be updated by a developer. I have also replaced the inappropriate `q` element tags with entities.

The page can be viewed by anyone, so I think it should be updated. Here is the revised markup (taken from the CEN page):

`<div class="island island--navy">`
`      <h2 class="banner__title">Questions? Data?</h2>

[2021-01-28 20:47] Captainkirkdawson commented on #153
Fixed as part of #775 on test3

[2021-01-29 14:14] AlOneill commented on #153
@Captainkirkdawson could you please confirm where the change can be viewed — I'm not seeing it.

[2021-01-29 17:01] Captainkirkdawson commented on #153
![top](https://user-images.githubusercontent.com/2874694/106304691-e6738680-6218-11eb-9b4a-0157e02bf853.JPG)

[2021-01-29 17:51] AlOneill commented on #153
@Captainkirkdawson I could not find because I was expecting an `id="top"` rather than "pagetop". Was not expecting the id to be placed on an empty anchor which is a no-no for HTML5.

Was expecting an id of "top" to be on the `main` element of every page, so that Refinery pages can make use of it.

Was also expecting the "Top of Page" button to now go to that, **real** destination on **every page**

[2021-01-29 18:28] Captainkirkdawson commented on #153
We are 99% at cross purposes.
Likely me as I feel I am at the end of my useful effectiveness.
I have no idea why you have concerns over the current "Top of Page" . This is a member only button and we are not concerned with accessibility issues on member pages. The purpose is to allow members to get to the top easily and it does do that So you should ignore it in my opinion anyway.
The  ONLY progra

[2021-01-29 20:19] AlOneill commented on #153
Although the current "Top of Page" button is on members-only pages, there are a few good reasons to make the **link address valid** and the **destination capable of receiving focus**:

1.  at some point, Researchers will be able to register as members: the "Top of Page" button will be one less concern as we move to make their pages accessible (which they will have to be) and developers will have a

[2021-01-29 20:41] Captainkirkdawson commented on #153
Sorry @AlOneill but I am now utterly and totally confused and will leave it to @Vino-S or someone else to do what you want. I just do not understand what you are asking for. As for researchers as members forcing us to make the member pages accessible to keyboard users well that's for the next generation of developers
In the mean time I will eliminate the Go to top which is what I thought was the r

[2021-01-29 21:58] Captainkirkdawson opened #199 "Opera and Zooming"
It appears to me that Opera has some weaknesses. When it zooms  it appears to tell the server that the device has a smaller screen.

Many applications will interpret this as a mobile device and switch the formatting of the information into a different layout suitable for a small screens

![my opera.JPG](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/66250d6c-fc22-4427-bd1f-f74a68864

[2021-02-04 09:29] lemon-ukgen commented on #127
MongoDB 4.2 installed on `rails`

[code]

I had to reboot `rails1` to enable `mlock` inside the jail.

[2021-02-06 17:11] Captainkirkdawson commented on #131
An initial review shows that their view of wildcard is dramatically different from our usage and needs
https://www.mongodb.com/blog/post/coming-in-mongodb-42--1-wildcard-indexes

It does not provide a alternative solution for our needs on wildcard with a name.

It may have other uses however

[2021-02-07 16:19] archerbarrie commented on #189
We have today (7/2/2021) had another report of this attack, viz:

We have no record of how the issue was supposedly "Sorted with MM" (@DeniseColbert) but plainly it did not work.

Can I ask @PatReynolds whether the Trustees were informed of this serious issue and whether they will be updated with the latest development.

This issue should be re-opened (but, of course, I cannot do that).

[2021-02-07 18:05] PatReynolds commented on #189
Thank you Barrie.  I have reopened the issue.

It would be  very helpful if you could ask this person if they can recollect anything about the button/advert which lead to them  "submitting my credit card details on freebmd to set up a free account" - I will pass on the suggestion to sandbox to MonetizeMore.  I'm not sure it is malware, though - it could simply be a spoof advert that purports to be

[2021-02-07 18:06] PatReynolds commented on #189
Also @richpomfret - we were discussing earlier

[2021-02-07 22:32] jayto581 commented on #198
@DeniseColbert
I am not sure the statistics information is available in the test environment. @Vino-S  is this correct? I think the code should work in production.

The grey space at the bottom of the footer is easy to adjust. It is currently set to 5.625 rem (101.225px) to accommodate adverts. What should it be set to?

I will add the spaces to FreeUKGenealogy in the next patch.

[2021-02-08 11:17] archerbarrie commented on #189
I have requested the additional information.

The company that took the money is moviecontentstore.com.

I could put a MotD on the home page but I am reluctant to make too much of it. There is a balance to be struck between warning users and alarming them, which leads to reputational damage. The home page already says that FreeBMD is FREE but I have put the text following that in bold and expanded

[2021-02-08 12:06] archerbarrie commented on #189
I have now heard back

So, should we increase the size of the font? Anything else?

[2021-02-08 13:27] PatReynolds commented on #189
@archerbarrie this is what we are up against: in this case no reason to think it isn't legitimate:
![image](https://user-images.githubusercontent.com/6338822/107225081-4257bf80-6a10-11eb-9a53-3ba85a3f78af.png)

What it is contending with:
![image](https://user-images.githubusercontent.com/6338822/107225244-792dd580-6a10-11eb-9ae6-15f36d9b403d.png)

Can we make our find button as appealing?  (big,

[2021-02-08 16:41] AlOneill commented on #173
@Vino-S All working on test3 FR. Thank you!

[2021-02-08 17:10] richpomfret commented on #164
@PatReynolds to check to see if this remains an issue.

[2021-02-08 17:11] richpomfret commented on #173
Brilliant, let's deploy.

[2021-02-08 17:19] DeniseColbert commented on #189
This just in:
![image](https://user-images.githubusercontent.com/19173257/107256785-d5edb800-6a31-11eb-8b3e-97c96409440e.png)

[2021-02-08 17:28] richpomfret commented on #190
@Vino-S can you assist with this?

[2021-02-08 17:31] richpomfret commented on #193
@DeniseColbert to do a scan. (site search on Google for the word 'transcriptions'.

[2021-02-08 17:42] richpomfret commented on #199
Noted and closing.

[2021-02-08 17:42] #199 closed, assigned to nobody

[2021-02-08 17:55] richpomfret commented on #161
@Vino-S can you assist with the changes needed for FreeBMD?

[2021-02-08 18:51] Captainkirkdawson commented on #189
@PatReynolds @richpomfret  @DeniseColbert  Tried to add Barrie but could not find his id

Why not place the ad in a box labelled advertisement as we do on FreeCEN with the bottom addvert
![advertisement.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/25da4a88-3c09-4625-bb3b-ba576a12d1d4)

[2021-02-08 18:54] archerbarrie commented on #189
@Captainkirkdawson That's almost exactly what FreeBMD currently does.

[2021-02-08 20:32] Captainkirkdawson commented on #189
Sorry guess it was cut off from the screen grab so did not see it. Perhaps make it larger but is should have been enough

[2021-02-10 16:22] AlOneill commented on #139
[Markup Guide](https://test3.freebmd.org.uk/cms/draft-marking-up-pages-in-refinery) updated on BMD t3.

Cleared some comments, improved the clarity of some content. Only a couple of issues remain to be resolved.

[2021-02-10 16:39] PatReynolds commented on #139
Thanks! Honestly can't remember editing the FreeCEN version ... may have done so believing I was on FreeBMD ....

[2021-02-10 16:54] AlOneill commented on #139
@PatReynolds The highlighted notice at the top of the page explains that the version on BMD t3 is not the master version and that it will be overwritten with each update. The master is on my computer( in a decent text editor) where editing and checking is much easier.

If you wish me to add any content for you, then please let me know. The version on CEN t3 is now way out of step with the master a

[2021-02-11 11:36] DeniseColbert commented on #139
@AlOneill https://docs.google.com/document/d/1MAr2jPch7NEls6Njz2z2udZo36wE674z4IaeNf8cUlQ/edit is the document I said I'd bump yesterday. hope it helps :)

[2021-02-16 01:46] Captainkirkdawson opened #200 "The revised contact email no longer has a link to the contact"
The update to the contact email that now includes the message has eliminated the link to the online contact.

This means that no one is going to  use the contact system to reply to the contact.

This will destroy its effectiveness as no one will know if the message has been replied to or what the reply was.

[2021-02-16 10:03] PatReynolds commented on #200
The email should not show the contactors' contact details, and should have a link to the contact system surely?

[2021-02-16 11:08] SteveBiggs commented on #200
The email should have BOTH the contactor's email address AND a link to the Contact in the system because in some cases, the email has to be forwarded to someone else to action and we cannot forward Contacts in the system.

[2021-02-22 17:12] richpomfret commented on #164
Closing - to open a new issue with another complaint arises.

[2021-02-22 17:12] #164 closed, assigned to PatReynolds

[2021-02-22 17:16] richpomfret commented on #43
@Captainkirkdawson Any update on this?

[2021-02-22 17:17] richpomfret commented on #131
@Captainkirkdawson any further review needed here or can be a) close or b) create additional, specific stories following on from this?

[2021-02-22 17:21] PatReynolds commented on #165
Note that it is not a commercial family history site (claiming to be Business Info) so blocking familiy history would not impact on it.

[2021-02-22 17:22] richpomfret commented on #165
@archerbarrie is this still a frequent occurrence?

[2021-02-22 17:28] Captainkirkdawson commented on #43
Nope other priorities

[2021-02-22 17:28] #131 closed, assigned to Captainkirkdawson

[2021-02-22 17:30] richpomfret commented on #161
@Vino-S thank you for coordinating this and speaking with MM. Can you provide an update when you can?

[2021-02-22 17:43] archerbarrie commented on #165
@richpomfret I have no idea how often this occurs. That it occurs at all causes reputational damage.

[2021-02-22 17:44] richpomfret commented on #198
Discussion on the grey space at the bottom of the footer - we recalled (or Alison did) that need more space there in anticipation of the floating advert footer which will be there on BMD2 (as it is on BMD1). Therefore no change needed there. @Vino-S can we deploy/test the code to see if the stats will work?

[2021-02-22 17:46] richpomfret commented on #127
Thanks @lemon-ukgen. Any further tasks required on this story? It looks like we are pretty much done.

[2021-02-22 17:53] PatReynolds commented on #189
Could we use btnsearch.gif here?

[2021-02-22 17:54] richpomfret commented on #189
Discussion in our meeting about better distinguishing the Advertising box to ensure it is unlike any other aspect of our page e.g. thick border in a striking or different colour and better mark the 'Advertising'?

[2021-02-22 17:58] PatReynolds commented on #200
@SteveBiggs  would forwarding the email only be internally, or is an external contact sometimes needed?

[2021-02-22 17:59] richpomfret commented on #153
@Vino-S can you take a look and see what you think?

[2021-02-22 18:02] richpomfret commented on #159
@Vino-S will you have capacity to look at this over the next sprint?

[2021-02-22 18:13] Captainkirkdawson commented on #127
@PatReynolds absolutely not. It is hardly started.
It is still running in 4.0 compatibility mode waiting for Freereg/freebmd test versions to be moved to rails1.
Having completed rails1 at 4.2 compatibility we must then roll out to all the mongo servers

[2021-02-22 20:03] SteveBiggs commented on #200
@PatReynolds, forwarding only to other FreeREG members.

[2021-02-22 21:31] archerbarrie commented on #189
We need to take into account that we are not in control of all the advertising placement as there is a floating advert which we have no control over (as far as I am aware). However, I don't think making the advert more distinctive helps, in fact it might make the situation worse. The issue is that an advert with the very bold message "Click to Start" (or similar) comes up and people do just that.

[2021-02-23 09:58] PatReynolds commented on #189
Thank you, Barrie.

The new buttons are great - much more noticeable and also reminding users of what FreeBMD looks like.

I'm assuming the HR is the area at the top of the page?  If so, I agree with your proposal.

I think it is not so much that we want to make the advert more noticeable, but call as much attention to our advertisers as possible without impinging on the user experience too much.

[2021-02-23 10:07] archerbarrie commented on #189
@PatReynolds The new buttons required a signficant amount of adjustment to the structure of the page which has made me nervous about deploying them but I will do another code inspection, do more testing and move them to live.

Sorry, HR is Horizontal Rule, the line under the advert. I envisaged the text displayed on top of this line in, for example, a rounded box. I am actually not sure of the bes

[2021-02-23 11:40] PatReynolds commented on #189
Thank you, Barrie - I appreciate the effort you are putting into this (in addition to your normal heavy workload).

[2021-02-23 12:31] PatReynolds commented on #127
Thanks for the update, @Captainkirkdawson

[2021-02-24 20:55] AlOneill commented on #67
If I understand correctly, the Cookie Consent notice is from a third party and we do have the ability to customise the colours (as well as the text). Are we able to adjust the hover and focus styles, beyond the initial colours? I ask because there are a **number of colour-related accessibility issues** with the current version:

1. there is **not enough contrast** between the blue link and the sur

[2021-02-26 20:33] richpomfret commented on #53
Shall we add a few new stories or close this? I am aware advert changes are occurring..

[2021-02-26 20:35] richpomfret commented on #68
@PatReynolds another Epic with no stories. Or should this be a story and then turned into an Epic when it actually becomes one?

[2021-02-27 15:10] archerbarrie commented on #189
The version with the new buttons has now been deployed to live (task 711). In addition (task 712) I have added close under the horizontal rule that separates the advert from the search the following text "To search FreeBMD for Births, Marriages or Deaths enter the details below and click on the Find button", the idea being to make it less likely that people will click on an advert thinking they ar

[2021-03-05 00:38] Captainkirkdawson commented on #67
@PatReynolds @richpomfret It is now clear to me that the changes made over the past three months mean that ONLY people in the EU and UK are presented with a cookie consent form and options. International users are no longer asked if they consent to the use of cookies. This opens us up I believe to litigation in many countries around the world.

[2021-03-06 17:02] PatReynolds commented on #67
Colours, font, font size are the only things we can customise.  I am not sure if we are allowed to tweak the other things (if so, then I am sure someone else has done it already and we can copy.  but I'm trying to find my earlier correspondence with commercial providers....

[2021-03-07 23:04] Captainkirkdawson commented on #43
Looks OK as far as it goes. Completeness depends upon its ultimate uses

[2021-03-08 10:44] PatReynolds opened #201 "Consider Google Contributor (if staying with google"
This is a scheme where people sign up to give money and not see adverts (some payment goes to Google, some to the website owner) https://support.google.com/fundingchoices/answer/9180084?visit_id=637507872016975695-3521233297&rd=1#zippy=,countries-where-contributor-messages-can-be-displayed-to-users

[2021-03-08 10:53] PatReynolds commented on #154
Couple of examples. These look to possibly be permanent urls:
https://www.ancestry.co.uk/imageviewer/collections/1904/images/32858_611411_2000-00031?treeid=&personid=&rc=&usePUB=true&_phsrc=aRt5158&_phstart=successSource&pId=17033071

https://www.ancestry.co.uk/imageviewer/collections/9041/images/48242_557066-00962?treeid=&personid=&rc=&usePUB=true&_phsrc=aRt5160&_phstart=successSource&pId=3878445

[2021-03-08 15:55] Captainkirkdawson commented on #127
Still waiting for Freereg/freebmd test versions to be moved to rails1.

[2021-03-08 16:36] Captainkirkdawson commented on #189
I remain firmly of the view that we should not place ads at the bottom of any of our search pages.
In all of our designs we have the search selection (or find) at the bottom. Placing an add anywhere near that selection opens us up to scammers and others. They can have buttons that look  just like the search initiation but is not.
Bottom ads are fine on other pages when we do not have an action sel

[2021-03-08 16:47] Captainkirkdawson commented on #189
Also noted that the google auto ads is set for FreeBMD. That setting was the cause of major issues with FreeREG
![freebmd.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/352ebf57-9832-4ca5-897c-822a983bc6db)

[2021-03-08 16:53] Captainkirkdawson commented on #161
The error report from TCF v2.0 is frightening
The top one is the basic Freebmd add and the error is "No consent for Purpose 1 for EEA countries and the UK."

Domain,Ad unit,Error,Error count,Last detected date
Unknown,2717690776,1.2,299260,3/7/2021
Unknown,9303921054,1.2,261420,3/7/2021
Unknown,Unknown,1.2,163740,3/7/2021
Unknown,4242880658,1.2,35750,3/7/2021
Unknown,9303635649,1.2,20980,3/7/2021

[2021-03-08 17:09] PatReynolds commented on #168
A riminder to @DeniseColbert  and @richpomfret to test this

[2021-03-08 17:14] PatReynolds commented on #169
@DeniseColbert can you just review how the footer looks and works as expected?

[2021-03-08 17:15] PatReynolds commented on #43
Thank you, @Captainkirkdawson , so closing.

[2021-03-08 17:15] #43 closed

[2021-03-08 17:17] PatReynolds commented on #154
@PatReynolds to consider as part of wider work with sources over the summer

[2021-03-08 17:31] PatReynolds commented on #163
@PatReynolds to check current situation

[2021-03-08 17:38] PatReynolds commented on #134
@DeniseColbert can we remember to look at this at our next documentation meeting?

[2021-03-08 17:41] PatReynolds commented on #193
Needs to be changed on FreeBMD, so Philip could change on Help, etc.

[2021-03-08 17:44] PatReynolds commented on #51
@Vino-S to let Lemon know when read (incuding FreeBMD2.

[2021-03-08 17:52] PatReynolds commented on #189
@PatReynolds remove ad from bottom of search page.

[2021-03-08 17:54] PatReynolds commented on #201
Reconsider when current issues are resolved.

[2021-03-08 17:54] archerbarrie commented on #189
As far as I can tell we have not deployed the code necessary for Auto Ads to work, which just leaves the mystery of why we have them turned on. The settings for ads seems to be unmanaged (by which I mean having changes part of a process and therefore peer reviewed and auditable) so one cannot tell how this came about.

Whilst I would be against letting the evil empire determine where the ads go, t

[2021-03-08 17:58] PatReynolds commented on #197
@richpomfret can you take a look?

[2021-03-09 10:44] PatReynolds commented on #193
@Vino-S could you change 'Transcriptions' on the FreeBMD2 menu bar to 'Records', please?

[2021-03-10 15:04] Vino-S commented on #161
Both FreeREG and FreeBMD code updated

[2021-03-11 14:53] DeniseColbert commented on #134
@PatReynolds we looked at this a few weeks ago; now awaiting @Vino-S to make the Refinery page bigger in FreeREG

[2021-03-19 14:23] DeniseColbert opened #202 "Navigation bar on CEN & REG text has dropped"
![image.png](https://images.zenhubusercontent.com/5cab6cc818447254e461e741/dd687490-0cc5-47d9-b2a1-0c1f962405c6)

Text should be more central

[2021-03-19 15:43] #114 closed, assigned to AlOneill, jayto581

[2021-03-19 15:43] #88 closed

[2021-03-19 15:43] #173 closed, assigned to Vino-S

[2021-03-22 15:45] Captainkirkdawson commented on #202
Not on my displays with chrome
![reg1.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/cd1e5f37-7e07-4373-80be-29934a0a0925)
![cen1.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/dc2a4322-71c3-404b-8009-1de7c2d8b33d)

[2021-03-22 17:12] richpomfret commented on #51
@Vino-S to begin on this over next sprint (it is becoming increasingly urgent to update to mongo 4.2 and then 4.4).

[2021-03-22 17:13] Vino-S commented on #190
REady for testing in FR:test3

[2021-03-22 17:16] richpomfret commented on #189
@archerbarrie it looks like auto ads are not switched on. Is this still an active issue in terms of malvertising? Any further action required? We can create separate stories if so.

[2021-03-22 17:17] richpomfret commented on #165
Closing - we can take this on a case by case basis IF and when any such adverts arise.

[2021-03-22 17:17] #165 closed, assigned to PatReynolds

[2021-03-22 17:20] richpomfret commented on #67
Option to show original cookie consent text/options for non EU/UK IP addresses - short term fix prior to any planned updates.

[2021-03-22 17:21] richpomfret commented on #67
@Vino-S to look in to this.

[2021-03-22 17:22] richpomfret commented on #178
@PatReynolds to update story with issues.

[2021-03-22 17:30] richpomfret commented on #161
@Vino-S to send through any such reports to MM for guidance or update.

[2021-03-22 17:38] richpomfret commented on #202
Replicate by setting text browser setting to large - to test on different resolution. To look into and see if there is a fix here or update that might resolve the issue. Close if not something we can easily resolve.

[2021-03-22 23:47] AlOneill commented on #190
@Vino-S looks good to me. Thank you.

[2021-03-24 10:41] PatReynolds commented on #195
Examples
https://www.h-x.technology/security-reporting-policy
(only one I could find)

Possible text https://docs.google.com/document/d/1SJzMrRYgYqqloHbReCSV1R_ywrLUMnWgIpywwqOnkwc/edit?usp=sharing
What do you think @lemon-ukgen @richpomfret anyone else with interest/expertise

[2021-03-25 10:43] PatReynolds commented on #29
Can't find story about the fraud advert, so re-opening this as it covers it:

Text:
There is a fraudulent advert on our sites - a big yellow envelope and says" you have an unread message". We are unable to remove it (awaiting action from Google Adverts).  If you have lost money, please report to https://www.actionfraud.police.uk/ or call Action Fraud on UK number 0300 123 2040

now live on FreeCEN

[2021-03-25 10:47] PatReynolds commented on #163
Chased MM 25/3/2021

[2021-03-25 10:53] PatReynolds commented on #67
Update 25 Mar 2021: we are reverting to the original cookie consent for areas other than the EU, UK, and California (i.e. those areas where the  Google Funding Choices consent is not working (*allegedly* it now covers Canada, but we have not observed this).

Therefore I am adding actions to this story.

@AlOneill does your comment on the wroding apply to the Google Funding Choices Notice (i.e. one

[2021-03-29 21:17] Captainkirkdawson commented on #127
@lemon-ukgen rails1 mongodb has its compatibility now set to 4.2

[2021-03-29 21:42] Captainkirkdawson commented on #127
@lemon-ukgen I was about to ask if we could plan to update the mongodb versions on mongo1-6 to version 4.2 at the next maintenance window of April 12th and then I thought about the complexity of the change which would have to be followed by 4.4 a month or 2 later. That was then to be followed by the restructuring of the databases from sharded to a straight cluster.
Then I thought there might be a

[2021-03-30 21:17] AlOneill commented on #139
"DRAFT Marking up pages in Refinery" has disappeared from BMD t3. Good job the master copy is on my computer!

I'll recreate the page in Refinery, so please do not over-write it with an older version, should you happen to have a copy … somehow.

[2021-03-30 22:07] AlOneill commented on #139
@Vino-S the Image table in Refinery t3 has been replaced by what looks like images from REG. Is this to do with the recent software updates?

Also, I cannot be sure, but it looks like some Refinery pages are missing. Unless Philip has done a major prune and tidy?

[2021-03-30 22:53] AlOneill commented on #139
@PatReynolds P @Vino-S have created issue on BMD # 335

[2021-04-14 11:19] PatReynolds opened #203 "Recruit testers of public facing features"
Recruit testers with a variety of operating systems and phone types to test the public facing websites.

E2 U3 S7 C5: P17

[2021-04-19 14:23] Vino-S commented on #190
Code moved to production.

[2021-04-19 14:23] #190 closed, assigned to AlOneill, Vino-S

[2021-04-19 14:29] Vino-S commented on #193
Done. Ready for testing in test3

[2021-04-19 14:31] Vino-S commented on #198
Footer changes ready for testing in  FreeBMD2 test2.

[2021-04-19 14:34] Vino-S commented on #161
Sent mail to MM: 19/April/2021

[2021-04-19 15:58] richpomfret commented on #117
Ongoing - but perhaps need a specific end point for this story or it will be the 'neverending story' (cue theme tune).

[2021-04-19 16:11] richpomfret commented on #51
Complete.

[2021-04-19 16:11] #51 closed

[2021-04-19 16:19] richpomfret commented on #29
Closing - will reopen if issue resurfaces and this may be required.

[2021-04-19 16:19] #29 closed

[2021-04-19 16:22] richpomfret commented on #189
Leaving open for another sprint - shall close if deemed to no longer be an open issue.

[2021-04-19 16:23] richpomfret commented on #137
@lemon-ukgen is this still ongoing? If so, we might want to break this down into multiple stories to reflect where we are/progress/what's left.

[2021-04-19 16:24] richpomfret commented on #117
To create sub-stories (now this is an Epic) for specific volunteers/projects.

[2021-04-19 16:26] richpomfret commented on #139
Is this now done? Anything left prior to closing this? @AlOneill @PatReynolds

[2021-04-19 16:34] #35 closed

[2021-04-19 16:37] Captainkirkdawson commented on #127
@PatReynolds accepted the transitioning of our servers to  a new configuration. This will be closed and new story added

[2021-04-19 16:37] #127 closed, assigned to Captainkirkdawson, lemon-ukgen

[2021-04-19 16:38] Captainkirkdawson commented on #46
This can be closed

[2021-04-19 16:38] #46 closed

[2021-04-19 16:40] richpomfret opened #204 "Deploy new Mongo servers"
As above.

[2021-04-19 16:41] richpomfret commented on #204
Short delay while waiting for new servers.

[2021-04-19 16:42] richpomfret commented on #192
This would be really helpful. We can put a sticky at the top of the appropriate (tech volunteer) Slack channel to get them up and running.

[2021-04-20 14:31] DeniseColbert commented on #198
Stats look good! Will check again after next update.

Spaces still need in FreeUKGenelaogy on the left-hand side. Across all footers probably.

[2021-04-23 12:31] PatReynolds opened #205 "Style blockquotes"
The current blockquotes have no styling applied - we should have styling.

[2021-04-26 01:41] lemon-ukgen commented on #137
This work is complete. Thanks for approving it, it's a relief to have our data (fsdo) offshore.

[2021-04-26 01:41] #137 closed

[2021-04-26 08:38] PatReynolds opened #206 "Update Templates to the BrandBook"

[2021-04-27 08:54] PatReynolds opened #207 "Enable map-based querying of our websites"
From https://test.freebmd.org.uk/trac/ticket/545 (for such a search on FreeBMD).

[2021-04-28 11:07] DeniseColbert commented on #158
Reopen to track stories on the projects

[2021-04-30 14:51] DeniseColbert commented on #192
Partway done: https://docs.google.com/document/d/1a6DZulJbPN4q8Jv3neBdduRWstcgCsA7_7r960JtDtc/edit?usp=sharing

[2021-05-01 23:43] jayto581 commented on #198
Pull request submitted on New footer 115 part4a of 6 branch to add spaces to News about Free UK Genealogy link.
@DeniseColbert

[2021-05-02 15:10] Captainkirkdawson commented on #204
LEMON SETUP on April 25
I've set up a mongodb called cluster on all five new servers
 * config: /usr/local/etc/mongodb-cluster.conf
 * data: /var/db/mongodb/cluster
**which is start/stop using /root/bin/mongoctl just like the others.**
There's a backend network between these servers, and also to vervet and rails1. the servers can be reached using an internal name we set in /etc/hosts: mongodb1.int

[2021-05-02 15:12] Captainkirkdawson commented on #204
Lemon wrote on April 29
**Production servers can now reach new mongodb servers**

[2021-05-02 15:42] Captainkirkdawson commented on #204
@DeniseColbert  @PatReynolds @SteveBiggs @edickens @FreecenBren @lemon-ukgen @richpomfret @AnneV-Learn @Vino-S
I have created 2 test deployments  1 each for FreeREG and FreeCEN. They are available at
https://test3.dev.freecen.org.uk/
https://test3.dev.freereg.org.uk/
The process followed is available on gdrive at
https://drive.google.com/file/d/1Ul1WJK2x1h0VfY5WrzYNQ2n-6M5zlPdw/view?usp=sharing
Th

[2021-05-02 15:43] Captainkirkdawson commented on #188
Will be dealt with through new mongodb servers

[2021-05-02 15:43] #188 closed, assigned to nobody

[2021-05-04 09:31] PatReynolds commented on #204
Thank you @Captainkirkdawson Do you need us to test the test deployments?

[2021-05-04 13:30] Captainkirkdawson commented on #204
@PatReynolds @DeniseColbert that would be helpful; Freereg has been tested by Steve and the Erics. So a few tests on Cen would be helpful; note the correct url above that is to be used.

[2021-05-05 10:19] PatReynolds commented on #204
Tested new server and old:
Peter GODFREY born NTT 1770-1790, resident NTT (same result - nothing - on both servers)
GODFREY born NTT 1770-1800, resident NTT (same result - 48 individuals - on both servers)
Peter GODLEY born  1770-1790,  (same result - 4 individuals - on both servers)
George HUSKINSON (soundex)  born  1770-1790, 1851 census  (same result - 73 individuals - on both servers)
ALCOCK,

[2021-05-12 11:46] DeniseColbert commented on #204
I tested CEN server, too, and no issues.

[2021-05-12 13:24] DeniseColbert commented on #198
Thanks @jayto581 (good to have you back :)

I'll review the updates in this PR when it's been deployed.

Re. stats, the figures on Test2 FreeBMD2 don't appear to have updated. These are current numbers of B,M,Ds (L-R)

![image](https://user-images.githubusercontent.com/19173257/117980349-caa97180-b32b-11eb-93ec-cc7f6289f4c4.png)

Birth, Marriage and Total figures should have updated to 118M, 86M a

[2021-05-12 13:27] DeniseColbert commented on #206
Context/more info needed.

[2021-05-12 13:36] DeniseColbert commented on #139
We're updating this in our Documentation meets on Fridays. Next one is 21st May

[2021-05-12 13:38] DeniseColbert commented on #193
Checked and looks good.

[2021-05-12 14:03] AlOneill commented on #139
There are a couple of things yet to be done.

[2021-05-17 14:55] Captainkirkdawson commented on #204
Server upgrade summary to date. Freereg has been operational using the mongodb1 for 3 days since the transition. The transition took 2 12 hr days. Lots of spare time during the days. We were moving collections of 50 million records and a database of 60GB. Completely new index structures were used a) because we are no longer sharding the database; it is now a 5 member replica set. All are using Mon

[2021-05-17 15:38] jayto581 commented on #198
@DeniseColbert
Pull request submitted on new_footer_115_part_6a_of_6 branch.
Update FreeBMD footer statistics as of May 12, 2021.

[2021-05-17 15:59] Vino-S commented on #67
Custom  cookie consent implemented for FreeCEN and ready for testing in test3 FreeCEN

[2021-05-17 16:16] PatReynolds commented on #142
@richpomfret please could you update this story with what needs to be done, so that Denise can take that into account.

[2021-05-17 16:17] PatReynolds commented on #192
Lemon is taking a look.

[2021-05-17 16:21] PatReynolds commented on #134
@DeniseColbert this is now done, could you test please?

[2021-05-17 16:22] PatReynolds commented on #181
@PatReynolds to check status of this

[2021-05-17 16:25] PatReynolds commented on #205
@AlOneill could you take a look at this?

[2021-05-17 16:25] PatReynolds commented on #206
This is all Google templates - documents, presentations, etc.

[2021-05-17 16:27] PatReynolds commented on #67
@PatReynolds to test

[2021-05-18 01:47] lemon-ukgen commented on #192
@PatReynolds not really! I was curious about how onboarding worked so I asked to see the document, but I don't have any expertise to add here.

[2021-05-20 18:06] AlOneill commented on #205
First, a reminder that the `blockquote` element is for quotations from *another source*. So, we could use them for user-submitted reviews, for instance, but not to quote something that is in-house.

Although our current blockquote styling has the default browser styling removed, it does give us typographers' curly quotation marks if the text is enclosed with paragraph tags. Otherwise it is plain —

[2021-05-22 19:57] Captainkirkdawson opened #208 "Clean up system documentation and developer information"
Much of the information is now significantly out of date

e0 U6 S7 C5:P18

[2021-05-31 04:51] lemon-ukgen commented on #204
Sysadmin work complete, untagging myself.

[2021-05-31 15:31] ghost commented on #204
Freecen transfer is complete.
Performance on last 3 days has shown all searches EXCEPT wildcard searches running in less than 25 seconds with 95% taking less that 5 seconds.
Problem with wildcard is that we are not using place indexes correctly because we are using 2 place collections place and freecen2_place. This issue will be dealt with in Freecen story

[2021-05-31 15:37] Captainkirkdawson commented on #221
I see no reason for this task. The collections exist in 3 different locations.

[2021-06-02 15:45] PatReynolds commented on #221
@PatReynolds to talk to @lemon about risks

[2021-06-04 10:54] PatReynolds commented on #195
Nudged Rich and Lemon 5/ Jnne 2021

[2021-06-12 07:52] richpomfret opened #209 "Develop API"
Epic for API development. To list sub-stories below. Initial requirements (per project or across project considerations?) and technical plan to get started.

[2021-06-14 08:12] PatReynolds commented on #181
All points covered by other new documentation.

[2021-06-14 16:07] PatReynolds commented on #204
Thank you Kirk for this magnificent piece of work, now completed so closing.

[2021-06-14 16:07] #204 closed, assigned to Captainkirkdawson

[2021-06-14 16:11] richpomfret commented on #181
All done - closing.

[2021-06-14 16:11] #181 closed, assigned to PatReynolds

[2021-06-14 16:13] richpomfret commented on #195
@richpomfret to take a look over next sprint.

[2021-06-14 16:13] richpomfret commented on #67
@richpomfret to take a look too.

[2021-06-14 16:18] richpomfret commented on #189
Closing.

[2021-06-14 16:18] #189 closed, assigned to archerbarrie, richpomfret

[2021-06-14 16:25] richpomfret commented on #161
Closing - we have not heard back from them and thus it is most likely no longer an issue.

[2021-06-14 16:25] #161 closed, assigned to jgarmos, richpomfret, Vino-S

[2021-06-14 16:28] richpomfret commented on #134
@DeniseColbert to try and clean up the text (remove image/emoji) and see if this still causes an error in processing.

[2021-06-14 16:33] richpomfret opened #210 "Categorisation/Grouping of Action Buttons"
To consider how we might improve the Action Buttons in order to avoid them becoming cluttered/difficult to manage.

E0 U6 S9 C5: P20

[2021-06-14 16:33] richpomfret commented on #210
@Vino-S to assist by sending screen grabs of the buttons for each user type.

[2021-06-14 16:38] richpomfret commented on #192
@DeniseColbert to complete and sign-off.

[2021-06-14 16:51] PatReynolds commented on #205
Thanks,  @AlOneill what is your estimate points for this?

[2021-06-14 16:53] richpomfret commented on #200
@Captainkirkdawson or @Vino-S who would be better handling this story?

[2021-06-14 22:40] AlOneill commented on #205
@PatReynolds I do not know the details of estimating points. The complexity will depend largely on whether or not the styling we want can be achieved through the use of existing classes.

I will post some examples in the next few days.

[2021-06-14 22:43] AlOneill commented on #134
@DeniseColbert If your removal of images and emojis is not successful, please send the file to me and I will investigate — I've had some experience with tracking down characters that Refinery will not save.

[2021-06-15 11:48] PatReynolds commented on #205
Thanks, @AlOneill I'd say hold off on the points until you have a better understanding of the complexity - e.g. equivalent to fixing a few typos (1 or 2), or to brining a simple page over from FreeBMD1 (5) or a page with images, tables or similar (8) or a Help type page (13).

[2021-06-17 14:36] DeniseColbert opened #211 "Consider changing "Printable Format" button text to "Download/Print""

[2021-06-17 20:46] AlOneill commented on #205
I've set up a page of blockquote examples on REG t3: https://test3.freereg.org.uk/cms/blockquote-examples

Using existing style classes to achieve a better look is possible, but it has some negatives: each blockquote would look much the same as its neighbour, the markup is rather involved and it would be tricky to achieve consistent results.

Using new styles would simplify the markup and go a lon

[2021-06-21 14:32] PatReynolds commented on #67
Tests well, thanks @Vino-S

[2021-06-21 16:46] DeniseColbert opened #212 "Search field order: First Name -> Surname? Consistency needed"
FreeBMD2:

![image.png](https://images.zenhubusercontent.com/5cab6cc818447254e461e741/c64a1c24-f390-45cb-9026-b58f127b0c98)

Ancestry:

![image.png](https://images.zenhubusercontent.com/5cab6cc818447254e461e741/1762b92b-9fa4-48ba-9502-10790c47e9b1)

FMP:

![image.png](https://images.zenhubusercontent.com/5cab6cc818447254e461e741/3b73a3c3-8220-4af6-a3c3-64f1ad946bfc)

However, FreeREG & FreeCEN do

[2021-06-28 05:05] Captainkirkdawson commented on #212
IMHO FreeBMD2 is wrong. 80% of searches are surname only; hence it is most logical to have that field first as is done in REG CEN and BMD1

[2021-06-28 16:20] DeniseColbert commented on #156
Let's push this and the footer generally, to production. @Vino-S to check last code that @jayto581 pushed before deploying.

[2021-06-28 16:24] DeniseColbert commented on #198
@Vino-S  to check the last lot of @jayto581 code, push to Master and get this on Test 3 REG & CEN for wider testing. Then tag @DeniseColbert and @jayto581 so we can take a look.

[2021-06-28 16:25] DeniseColbert commented on #193
Closing

[2021-06-28 16:25] #193 closed, assigned to PatReynolds, DeniseColbert

[2021-06-28 16:27] DeniseColbert commented on #163
Any reply from MM? @PatReynolds

[2021-06-28 16:29] DeniseColbert commented on #210
Also let Kirk know any Actions that SHOULD be assigned to roles.

[2021-06-28 16:34] DeniseColbert commented on #208
The whole installation of our systems documentation, and supporting documentation, are very much out of date.

@jayto581 has offered to take a look but will need info from @Captainkirkdawson and Vino

[2021-06-28 16:41] DeniseColbert commented on #212
Consider asking the question in FreeBMD2 user testing- @DeniseColbert to add in to tests.

[2021-06-30 09:38] AlOneill commented on #205
Have added a second style, using an over-large opening quotation mark. Maybe its time has come and gone already.

Any suggestions or comments welcome. I am a very amateur designer, so if you have seen something out there that you like better, do give us the link.

[2021-06-30 09:49] AlOneill commented on #205
Other things to consider:

* maybe we need two styles: one for Reviews and one for more conventional use?

* do we tweak the current style to produce some sort of plain blockquote element (no containing `figure`)? — it could not have an accessible attribution

[2021-07-02 12:02] DeniseColbert opened #213 "Decide how to manage the "Marking up pages in Refinery" page(s)"
- [x] To be placed on all three websites
- [x] Updating: One Master offline, updated by @AlOneill only.
- [x] Organisation: Should it remain a top-level page? (new story made for this being placed in Refinery Information, below Other Information (Volunteers)
- [x] Sharing/access: Need to think about how people will be made aware of the page (Initial onboarding, policy form, in System Documentation

[2021-07-12 16:18] richpomfret commented on #205
Decision to use current format from FR of 'containers' with background colour distinction, except for reviews where we do the same but with style quotation marks.

[2021-07-12 16:19] richpomfret commented on #205
@AlOneill what do you think?

[2021-07-12 16:20] richpomfret commented on #163
@PatReynolds to check.

[2021-07-12 16:23] richpomfret commented on #158
Converted to Epic. Decision to create sub stories on project boards for individual project reports.

[2021-07-12 16:24] DeniseColbert commented on #198
@Vino-S

Some of the elements of the old footer seem to remain
- The text at the bottom of the footer hasn't updated
- "A project by" appears twice
- Logo should be the monochrome asset as per FreeBMD Test2:

![image](https://user-images.githubusercontent.com/19173257/125322210-6b6cdb00-e335-11eb-8133-b9a0dfb045ba.png)

[2021-07-12 16:29] richpomfret commented on #197
Agreed via peer pressure (shall still secretly take a look).

[2021-07-12 16:30] richpomfret commented on #197
@Vino-S is this a suitable one for you?

[2021-07-12 16:37] DeniseColbert opened #214 "Refinery embedding works in preview box on "edit page" but not in live"
YouTube embed just does not appear, Google Forms embed shows "Loading" but doesn't load. (See DRAFT Your Reviews page on FreeREG Test2)

[2021-07-14 10:09] PatReynolds commented on #221
Emailed Lemon (and Vino) 14/7/2021

[2021-07-19 12:54] DeniseColbert opened #215 "Project Donations pages"
We have this donation widget/tool: https://freeukgen.github.io/FreeUKGenealogyWP/inner_donation.html

It can be served on any/all of our websites, making our goal of keeping donors on the site they're on much easier to achieve.

So, plan:

- [ ] Sign-off on widget (feedback invited)
- [ ] Design Donation page for Refinery
- [ ] Create page on each project
- [ ] Embed widget on all pages
- [ ] Plac

[2021-07-22 07:26] archerbarrie opened #216 "Update Charity Choice"
Charity Choice (https://www.charitychoice.co.uk/) used to be a means to make donations and was linked to from FreeBMD. This link has been removed because it appears that Charity Choice has been transformed into a directory of charities. However, if you search on Charity Choice for "genealogy" you get two hits for Free UK Genealogy, one of which has an out of date address (Burgess Hill) and the oth

[2021-07-22 10:15] PatReynolds commented on #216
Free UK Genealogy CIO's entry is correct (Burgess Hill one).

Free UK Genealogy entry needs updating, and I've contacted Charity Choice to see how this can be done.  I rather think they scrape from the Charity Commission, and the updates are out of line with what CC holds.

[2021-07-23 20:26] AlOneill commented on #205
@richpomfret Not sure I understand your comment — "with background colour distinction"??

@PatReynolds @DeniseColbert
I've set up the [blockquote examples page]("https://test3.freereg.org.uk/cms/blockquote-examples#new") on FR t3 with the styles you asked to see in the last Documentation meeting.

[2021-07-26 15:09] jayto581 commented on #208
Draft document ready for review on Google Docs.

[2021-07-26 15:47] jayto581 commented on #208
On the MyopicVicar GitHub website, there is a contributing.md file which needs updating.

There is a reference and two links to Waffle.io. The links are broken.

Also, are the instructions for setting up a development environment on Cloud9 still being used?

[2021-07-26 16:04] Vino-S commented on #198
Updated the changes in test2

[2021-07-26 16:05] DeniseColbert commented on #67
@AlOneill to check accessibility

[2021-07-26 16:06] DeniseColbert commented on #156
Whole footer ready for deployment. Can then be tested for updating stats on FR & FC live sites

[2021-07-26 16:10] DeniseColbert commented on #195
@PatReynolds to ask @lemon-ukgen where this is up to

[2021-07-26 16:16] DeniseColbert commented on #208
@Captainkirkdawson and @Vino-S to review and give feedback to @jayto581

[2021-07-26 16:20] archerbarrie commented on #67
I think it is worth recording in this task that we have received a complaint about FreeBMD Cookie Consent, and in fact others questioned whether it was a fraud.

The complaint was
"I am ready for a new batch please but, when I logged to my BMD files someone, sorry forgot to note the name, put up a screen asking to me to give them permission to log me in to all sorts of advertising and preferences.

[2021-07-26 16:20] DeniseColbert commented on #208
@DeniseColbert to replace Waffle.IO links with GitHub ones, when I know where they are.

[2021-07-26 16:21] DeniseColbert commented on #139
Still a few things to be done

[2021-07-26 16:21] DeniseColbert commented on #198
Ready for deployment

[2021-07-26 17:00] Captainkirkdawson commented on #208
@DeniseColbert the page is
https://github.com/FreeUKGen/MyopicVicar/blob/master/CONTRIBUTING.md
It can be edited on_line

[2021-07-26 17:01] jayto581 commented on #37
refinerycms-authentication-devise gem currently does **not** support Rails 5.2.0 or higher

2.0.0 - September 14, 2017 (56.5 KB)
Runtime Dependencies (4):
**actionmailer < 5.2, >= 5.0.0**
devise >= 4.3.0, ~> 4.0
friendly_id ~> 5.2.1
refinerycms-core < 5.0, >= 3.0.0

[2021-07-26 17:04] Captainkirkdawson commented on #215
We need to be careful with the design of all such pages that we are not opening ourselves to hacking and misdirection of donations. Hackers are fair more resourceful than we are.

[2021-07-26 17:07] Captainkirkdawson commented on #197
@DeniseColbert Could we have the name of a person who experiences this issue so we we can do direct testing with that person. We need a userid and email contact. First step will be to see if they indeed have waiting messages.

[2021-07-26 17:11] Captainkirkdawson commented on #37
There are versions of refinery that support rails 6

[2021-07-26 21:23] jayto581 commented on #208
Draft contributing.md document ready for review on Google Docs.

[2021-07-27 09:04] PatReynolds commented on #67
Perhaps we should put screenshots in the newsletter so users are aware of what they look like?

[2021-07-27 09:15] PatReynolds commented on #195
Resent 27 July 2021

[2021-07-27 14:45] AlOneill commented on #67
I might not have tested what you want me to test , but …

On **FR t3**, the (old style) cookie notice itself is accessible AFAICT, but the **Cookie Policy page is not accessible** to sighted keyboard-only users — the two **option buttons, Personalised Advertising and Analytics** show no visible indication of receiving focus: indeed I found it impossible to _interact_ with either using only the key

[2021-07-28 16:43] PatReynolds commented on #221
Chased 28 July 2021

[2021-07-29 09:58] PatReynolds commented on #221
Lemon had summarised (I missed this email - have edited Lemon's words a little for clarity here eg "I" becomes "he":
There are two tasks:
1/ Keeping a backup of the MongoDB databases around to recover "quickly" to a point-in-time
2/ Keeping a backup of all the data used to construct the MongoDB database

a All the data in MongoDB is, in theory, rebuildable from the transcriber and some other data

[2021-07-30 19:54] TazHinkle commented on #215
The tool as it exists now is not any more vulnerable than something comparable made in WordPress (though there is a certain elegance of having everything hosted in the same place that is missing).  Someone without access to either upload content to our github (users have to be added) or with access to the WP tools should have no way to change the links that users are clicking on.  All sensitive in

[2021-08-02 13:01] AlOneill commented on #215
From an Accessibility standpoint, although the individual radio buttons have labels, the group as a whole does not and the 'heading' of Choose currency is neither a heading nor a label.

There is no visible focus on the 'Next' button — hover is marked by underlining.

On selecting Next, the buttons revealed have good visible focus, except for 'Previous' which has none.  The visible focus for 'Dona

[2021-08-03 23:26] lemon-ukgen commented on #221
Yes, that's right. Specifically, [`/raid` on colobus](https://github.com/FreeUKGen/FreeCENMigration/issues/299#issuecomment-322325238). [Above](https://github.com/FreeUKGen/FreeCENMigration/issues/299#issuecomment-328640296), we didn't think it was for FreeCEN2, at least.

[2021-08-03 23:42] Captainkirkdawson commented on #221
All files required are now on colobus. They were on brazza while we were doing the monthly update from FC1 due to better disk performance. Since we now do online processing the file base was moved to colobus.

[2021-08-04 00:21] lemon-ukgen commented on #221
@Captainkirkdawson please can you indicate where on colobus this data lives? Some example paths would be useful.

Some paths are on `/raid` (which is backed up) by merit of symlinks, so it's not immediately obvious. In general, `~apache/hosts/...` is not on `/raid`, and is not backed up.

[2021-08-04 00:39] Captainkirkdawson commented on #221
/raid/freecen2/freecen1/pieces/ is the most important
/raid/freecen2/users/ is next

[2021-08-04 00:51] lemon-ukgen commented on #221
Thanks. For FreeCEN2 that's job done then.

If FreeREG2 keeps everything it needs backed up in `/raid/freereg2` then that's all good for MongoDB in general too.

[2021-08-04 01:58] Captainkirkdawson commented on #221
/raid/freereg2/users/ is the critical file for reg

[2021-08-04 02:01] Captainkirkdawson commented on #221
What we could do to avoid a full rebuild from scratch is to once a month or once a quarter writing all of the database collections to json files that are stored in the raid folder. These are what I used to make the transition from shard to replicated. There is a script used to make the copies.

[2021-08-04 03:35] lemon-ukgen commented on #195
Thanks @PatReynolds. I've added some paragraphs to it to address the scope concerns that kicked this off, as well as some other guide rails.

[2021-08-05 01:55] TazHinkle commented on #215
Good points about Accessibility.  I believe all of these can be resolved fairly painlessly.  I can spend some time working on these in the next little while, however it might be most efficient to have your style people make rulings on preferred focus/coloring for previous/outline width's etc.  The more detailed and exact the better.

[2021-08-05 14:01] Captainkirkdawson opened #217 "Force update of statistics in footer"
We currently save the footer statistics in  the session cookie. These need to be refreshed on a date change.

E3 U4 SS7 C6: P20

[2021-08-08 15:11] TazHinkle commented on #215
I have been working on this.  I have made some changes to the active version (mostly the visibility of the Previous button).  I have a version where the appearance for the 'Donate by Card via Kindlink' is adjusted that could be put into play if you feel it's better.  I'm posting an image below showing, left to right: tool as it was (on WordPress) before I started adjusting yesterday, as it is uplo

[2021-08-08 15:27] TazHinkle commented on #215
![image.png](https://images.zenhubusercontent.com/5fd506680d140e18952cabda/211eb54f-5c8a-41d4-9da7-2e0e17cd53be)

The last image has a heading tag instead of the previous paragraph with text shadow.  It is a bit sharper, but I'm not sure that it shows that well in this image.

[2021-08-09 16:03] #168 closed, assigned to DeniseColbert, richpomfret, Vino-S

[2021-08-09 16:03] richpomfret commented on #142
Work on this has continued - working with Denise and Vino to ensure onboarding technical documentation (or 'onboarding pack') is in place, with key documents to be pinned in the appropriate RoR slack channel.

[2021-08-09 16:03] #198 closed, assigned to Vino-S

[2021-08-09 16:03] #156 closed, assigned to Vino-S

[2021-08-09 16:04] #171 closed, assigned to DeniseColbert, richpomfret

[2021-08-09 16:05] #169 closed, assigned to DeniseColbert

[2021-08-09 16:07] #170 closed, assigned to DeniseColbert

[2021-08-09 16:07] #172 closed, assigned to DeniseColbert, Vino-S

[2021-08-09 16:18] richpomfret commented on #205
Moving into 'ready for testing' for @PatReynolds and @DeniseColbert to take a look.

[2021-08-09 16:20] #163 closed, assigned to PatReynolds, richpomfret

[2021-08-12 19:00] TazHinkle commented on #215
The tool is now available with several visibility (and uniformity) revisions. I will need further guidance on other changes you would like implemented.

[2021-08-12 20:16] AlOneill commented on #215
Thank you for making "Select currency" a heading — `h3` might not turn out to be the correct level, depending on how this will be used. _However_, the radio buttons should be grouped, typically in a `fieldset` and "Select Currency" would make a good `legend`.

There is still no visible focus on either the "Next" or "Previous" buttons. The only indicator on hover of the "Donate by Card via kindlink

[2021-08-12 21:24] TazHinkle commented on #215
Is it just that you want the appearance of Next and Previous to change as you're clicking- for the length of time it takes the next part to load, or is there a place where you want them to remain focused when the resulting content loads?

This may be helpful for one of the decisions: For the currency selection screen I just did another side by side (by side) comparison (in Paint) of what it looks

[2021-08-12 22:04] AlOneill commented on #215
Having visible focus is important for a sighted keyboard-only user: they navigate by using the tab key and need to be able to see which element, which link or button (or form input), has the :focus state and so can be selected, using enter or space. (I think you were describing the :active state.)

I like the use of words for the currencies in the Figma version — we would need to be consistent wit

[2021-08-13 17:28] TazHinkle commented on #215
Thank you for the clarifications, it's helped a lot.

I've acted on the fieldset/legend and focus items.  Let me know how those are working out.

I have waited to change the currency names because I was instructed to change them to the three letter variant by another member of your team.  I wanted to give you guys time to discuss, but when there's a final decision, it's an amazingly easy edit.

I

[2021-08-13 21:42] AlOneill commented on #215
Ah! I was not thinking clearly when I described the "hiding" process. Second go …

As your widget does not have access to our CSS (yes?) you will need the details for a cross-browser accessibility class  —
[code]
Please then remove the `hidden` attribute and `aria-hidden="true"` from the `legend` element. They would render the legend invisible to a screen-reader (!) which is the opposite of what w

[2021-08-14 18:25] TazHinkle commented on #215
I may have accomplished the things you've asked for.

[2021-08-16 11:40] AlOneill commented on #215
You have! Thank you.

The Wave tool (from the WebAim site) is reporting no errors and just two alerts: it is suggesting we add a fieldset and legend for the two Gift Aid choices, which seems reasonable, and that we consider using Aria `role="region"` — I'm less convinced about that but I'm no Aria expert and you might disagree (we are aiming to comply with WCAG 2.0).

The look of the headings, the

[2021-08-16 16:26] TazHinkle commented on #215
For the Aria role="region"- I think it would be ok if we skipped doing this, but it might be a nice thing...  I looked into it a little bit. MDN says that the same function can be achieved (and be better semantically) with section tags.  Were you thinking of landmarking the currency selector radios?  The whole widget?

I'm definitely still learning about the best ways to do accessibility.

[2021-08-18 08:37] PatReynolds opened #218 "Ensure accessibility of PDF documents"
This relates to a FreeBMD2 story, that I cannot currently locate.

In relation to the Privacy Policy, I was asked to check the general accessibility of PDF documents, and in particular look at the web aim archive.

The WebAim archive only contains information on commercial products, not free-to-use ones, but the conculsion seems to be that with proper use of the tools, accessible markup is possibl

[2021-08-18 16:41] DeniseColbert opened #219 "Footer text on FreeBMD2 - remove ONS info"
Text there is different, has ONS info additionally. Please delete this story if this isn't an issue.

![image.png](https://images.zenhubusercontent.com/5cab6cc818447254e461e741/333d5ac5-dba4-4d54-9a1f-395a5d021d40)

[2021-08-20 09:31] PatReynolds opened #220 "Consider Active Cyber Defence services"
https://www.ncsc.gov.uk/section/active-cyber-defence/services has the various services, and who is elegible to use them.

[2021-08-20 10:12] PatReynolds commented on #195
Tahks, @lemon-ukgen - both suggestions accepted.

Also: should we consider applying to https://www.ncsc.gov.uk/information/web-check - currently only pilot charities.

[2021-08-20 14:29] PatReynolds commented on #214
Could a simple link work, least for volunteer's videos - e.g. https://test3.freereg.org.uk/cms/temp-experimental-page

[2021-08-20 15:18] TazHinkle commented on #215
I've now adjusted down the size of the h2 and put the whole thing in a section tag (we'll see if that has the effect that was desired... I have noticed no adverse effects for adding it).  The h3 currency labels look nice and super readable to me so I left them alone (for now).  At this point, I'm going to wait to do any more adjustments until I get more instructions.

Thanks AlOnneill and all for

[2021-08-22 16:56] AlOneill commented on #215
Looking good!

There are a couple of things that bother me:

1. Having selected a currency, the next has view has the 'Donate by Card' button pre-focussed, so it was not obvious to me that the Kindlink button at the bottom goes with it. Selecting Donate by Card button, with nothing changing, stalled me for a spell until I selected some other buttons and realised what was happening (sigh!).
2. How

[2021-08-23 16:17] richpomfret commented on #219
Unsure - for us to check. Doesn't appear to be in the BMD original site, but we think it may be legacy text (most likely shouldn't be there).

[2021-08-25 15:51] PatReynolds commented on #221
A rake task needs to be written (will run automatically)

[2021-08-25 16:31] PatReynolds commented on #221
@Vino-S could you put an estimate on this, please?

[2021-09-06 09:00] PatReynolds opened #222 "Privacy notice missing from FUG website"
Not accessible via FR site.

[2021-09-06 15:45] richpomfret commented on #195
Let's sign up for the pilot and see if we can benefit from this.

[2021-09-06 15:48] richpomfret commented on #222
Link in footer takes user to the Privacy Policy pdf (on Google Drive).

[2021-09-06 16:13] PatReynolds commented on #205
Look great - these can be implemented.

[2021-09-06 16:14] richpomfret commented on #208
@Vino-S and @richpomfret to take a look.

[2021-09-06 16:23] richpomfret commented on #139
What is now left to do?

[2021-09-06 16:28] richpomfret commented on #215
@Vino-S to investigate any possible security risk here.

[2021-09-09 16:46] DeniseColbert commented on #215
@PatReynolds @DeniseColbert and @AlOneill to discuss currency display, and point 1.

@TazHinkle to test if widget allows external links to open in a new tab

Taz and Denise discussed potential for different versions of the tool to be offered dependent on screen-reader/keyboard enter-strike. Taz thinks both are possible (and others potentially?) but keyboard strike opens up more possibility for pre

[2021-09-20 16:09] richpomfret commented on #139
@AlOneill to finish off.

[2021-09-20 16:15] richpomfret commented on #221
@Vino-S can we have an estimate?

[2021-09-20 17:02] richpomfret commented on #214
@Vino-S do you have capacity to look at this over the next sprint?

[2021-09-21 19:08] TazHinkle commented on #215
Links that would navigate offsite now open in new tabs.

[2021-09-30 10:38] PatReynolds commented on #218
I may have been using NVDA incorrectly, but it doesn't seem to read pdfs produced from Google docs.  I have tested with pdfs produced by others (tech not known) and works as expected.

A  look at WebAIM archives show that only Adobe (has issues) and phantomPDF can edit pdf tags. Both are paid.

We need to review what we do with PDFs going forwards.
There was supposed to be a Chrome tagger in versi

[2021-09-30 11:23] PatReynolds commented on #213
@AlOneill and @DeniseColbert Is it ok for the Standards page to remain top level?

People are now made aware of the page through the Protocol for Creating and Editing in Refinery document. For discussion: how to ensure links in the document are updated.

[2021-10-04 10:42] PatReynolds commented on #67
For creation: possibly https://cookieconsent.popupsmart.com/

Any changes needed to the consent meta specification? https://docs.google.com/document/d/1WX4W5WWNU4uhA__32yv5iYdv-iMB8eeC5yAIoJnr4uw/edit?usp=sharing

[2021-10-04 10:45] PatReynolds commented on #44
For review now FC2 changes (largely) complete

[2021-10-04 10:48] PatReynolds commented on #141
Has this been superceded by #215 ?

[2021-10-04 16:08] PatReynolds opened #223 "Create Github repository for UniTT"

[2021-10-04 16:11] PatReynolds commented on #218
@AlOneill given this (and Denisse notes that making an accessible Adobe file is a *lot* of work) is it acceptable to provide a choice of download - .pdf or .txt ?

[2021-10-04 16:14] PatReynolds commented on #141
@DeniseColbert to take a look

[2021-10-04 16:21] PatReynolds commented on #223
@richpomfret could  you do this please?

[2021-10-04 16:35] AlOneill commented on #218
@PatReynolds If we are talking about a .txt document with no formatting (no structure or shape), then I would say **no**.

[2021-10-05 09:19] PatReynolds commented on #218
Yes, no formattting (unless numbered paragraphs and their like count)

Looks like we will need to use PDF ... https://sourceforge.net/software/product/PhantomPDF/ is $139 (one-off) Not sure if it can be moved to a new computer
https://webaim.org/techniques/foxit/phantompdf has the instructions

We can get adobe acrobat pro until 2026 for £45 https://www.charitydigitalexchange.org/product/6019/adob

[2021-10-06 11:51] DeniseColbert commented on #218
When I suggested a text file, I was thinking of a .doc/.docx (Google Drive file link or a downloadable Word document). Sorry for not being clear. Would that not fit the bill?

[2021-10-06 15:34] AlOneill commented on #218
I know nothing about the accessibility of Word documents other than the obvious — a user must have a suitable app to open it in! Beyond that, I would be surprised if it were any easier to make a Word document accessible than a PDF.

[2021-10-07 08:08] DeniseColbert commented on #218
Good point! I will have a look and a think

[2021-10-07 19:15] Vino-S commented on #214
Hi @DeniseColbert ,
I had updated some changes in test3 FreeREG, Could you have a look and let me know if it is working as expected, please?

[2021-10-08 11:44] PatReynolds opened #224 "Create top level "Using Refinery" page in Refinery"
Links from this document (those marked "R") should be added to this page, with Markup Guide and possibly a page on Images nested below.

This page, which may or may not be called "About Refinery" will be a top level page in each multi-modal website to contain the instructions for the use of Refinery for markup volunteers.

Eventually "About Refinery" could be a sub-page of "Other Information" (if

[2021-10-11 16:58] DeniseColbert commented on #214
All fixed! Thank you so much @Vino-S!

[2021-10-18 14:27] DeniseColbert commented on #141
No, not superseded by 215, but there seem to be a few questions about SVG/Refinery unanswered

[2021-10-18 15:00] DeniseColbert opened #225 "Quotes for Volunteer pages"
I *think* there's a story where this is discussed, but I can't find it. Here's a start; we'll have more when we have the results of our survey in a month or two.

https://docs.google.com/document/d/1UqzSDyZYYxnG7RrSkHRhshmuBUHzgKULtf6UxMORNHg/edit?usp=sharing

[2021-10-18 16:07] PatReynolds commented on #205
@AlOneill  please could you impliment on live?

[2021-10-18 16:12] PatReynolds commented on #44
Put on ice until this stage of the work on FC2 places is complete

[2021-10-18 16:14] PatReynolds commented on #213
Decision to make a Refiniery top level, and put this under.

[2021-10-18 16:17] PatReynolds commented on #215
@Vino-S to look at security risks, and team to look at other issues in Documenation meeting

[2021-10-18 16:25] PatReynolds commented on #225
@PatReynolds to review before implimentation (intially with 2 or 3 quotes).

[2021-10-19 08:25] PatReynolds commented on #225
Now reviewed - may still have typos / grammatical errors (although I didn't spot any!

Longer term,  itwould be good to get a quote from a FreeCEN volunteer (or user) to replace the  FreeREG user one.  Also good to have one from a technical or foundation volunter (or both)l

[2021-10-21 22:21] AlOneill commented on #224
Maybe "About Refinery" sounds a bit light on content? How about "Using Refinery"? Or … ?

[2021-10-22 08:37] PatReynolds commented on #224
I agree "About Refinery" sounds as if it would be the wikipedia entry on Refinery rather than a technical manual.  "Using Refinery" is good.

[2021-10-22 11:40] DeniseColbert opened #226 "What is tabbing/source order best practice (or best for us)?"
Help pages source order should make sense for the user.

Where should be tabbed to after the side menu? Main content? Or continue down the right-hand side?

[2021-10-22 11:51] DeniseColbert commented on #224
Decided: "Using Refinery"

[2021-10-22 12:13] DeniseColbert commented on #215
Currency display
Decision: Full words, include symbols

UK Pound (£)
Australian Dollar ($)
Canadian Dollar ($)
NZ Dollar ($)
US Dollar ($)
Euro (€)

Re. Point 1 above
@DeniseColbert to find model widget and place link in story, to revisit next meeting

Place "opens in a new tab" text **above** button/link

![image](https://user-images.githubusercontent.com/19173257/138451964-a11ed7d7-89f7-437a-af5

[2021-10-22 15:03] AlOneill commented on #224
Have begun work on top-level page on BMD t3 — https://test3.freebmd.org.uk/cms/draft-using-refinery

[2021-10-24 15:43] AlOneill commented on #224
Initial DRAFT complete. Links to GoogleDocs will need updating once permissions allow all volunteers to view the pages without being logged in to GoogleDocs (and when all docs are finalised).

[2021-10-27 15:06] AlOneill commented on #226
The source order of the page is obscured for sighted users of pointing devices _unless_ they are viewing our sites in a narrow window (570px or fewer). It is, however, apparent to screen-reader users and sighted, keyboard-only users: the former will hear our pages in source order; the latter will find that the tab order follows the source order.

The current standard (on most Refinery pages) is le

[2021-11-01 16:42] PatReynolds opened #227 "Ads.txt text"
New post-MM text needed

[2021-11-01 17:08] PatReynolds commented on #218
To consider just using html - to discuss at Documentation meeting

[2021-11-01 17:09] PatReynolds commented on #208
@DeniseColbert to make a copy and share, given Jay's absense

[2021-11-01 17:17] PatReynolds commented on #67
@PatReynolds to review now we are post MM

[2021-11-01 17:24] PatReynolds commented on #134
@DeniseColbert to check if FreeREG page is now ready for deployment (and deploy if it is

[2021-11-01 17:27] PatReynolds commented on #142
@DeniseColbert to talk with @Irene-ene on what she needs to start managing the selection and onboarding process

[2021-11-01 17:29] PatReynolds commented on #226
@PatReynolds to see what the advice is in general, and ask Webaim if nothing

[2021-11-01 17:34] PatReynolds commented on #227
@PatReynolds to sk @Irene-ene  if any of the volunteers have experience with AdManager - if not, need to recruit

[2021-11-06 16:46] DeniseColbert commented on #215
@Vino-S please could you send by email or slack, the results of your review (as above) for @TazHinkle

[2021-11-09 11:51] PatReynolds opened #228 "Add Sponsor button to GitHub"
Include notice re acknowledgement.

E2 S

[2021-11-11 11:07] PatReynolds opened #229 "Examine https://web.dev/measure/ scores for our websites and discuss actions needed/wanted for multimodal sites"
https://web.dev/measure/ is a new tool from Google.  It provides feedback on four key aspects of our websites.

FreeREG
![image.png](https://images.zenhubusercontent.com/5b695a5dac3a200155c765e3/d58196de-a8c9-4557-acb1-77806ba1aa28)

freecen
![image.png](https://images.zenhubusercontent.com/5b695a5dac3a200155c765e3/320e053a-f847-4c27-b7eb-825ccb8ca530)
Freecen1
![image.png](https://images.zenhubus

[2021-11-12 12:53] DeniseColbert commented on #205
Next steps to deploy: Styles to be added to all three Your Reviews pages. Already up on REG, next to be done is BMD2, finally CEN.

[2021-11-12 13:18] DeniseColbert commented on #218
We could, but only for docs we've authored. We can warn about off-site docs where possible.

[2021-11-12 13:18] PatReynolds opened #230 "Update Accessibility Statements"
Statement should note that we link to other websites and documents (e.g. pdfs) which we do not control, and which may not meet your accessibility needs.

[2021-11-15 13:58] AlOneill commented on #229
The tool reports that the list of project icons in the footer does not have an appropriate container. This is not true: the icons are contained in a `ul`.

The complaint about the ladda search button has legs: the same `id` is applied to two nested elements the `button` and the `span` within it.

[2021-11-15 17:08] PatReynolds commented on #218
@DeniseColbert to audit the public-facing websites and note which documents are currently PDF and need to be HTML.

[2021-11-15 17:10] PatReynolds commented on #208
@Vino-S to replace with the new document.

[2021-11-15 17:13] PatReynolds commented on #141
@DeniseColbert to make a new issue on the SVG/PNG descision, referencing this story so aes to capture the discussions here.

[2021-11-15 17:13] #141 closed, assigned to DeniseColbert

[2021-11-15 17:14] DeniseColbert opened #231 "SVG/PNG in Refinery"
Issues coming out of #141

[2021-11-15 17:16] PatReynolds commented on #213
@AlOneill could you let us know which website this page is on please?

Sory @AlOneill - found the answer to that in another story!

[2021-11-15 17:24] PatReynolds commented on #134
Now being tracked on the separate projects, so closing.

[2021-11-15 17:24] #134 closed, assigned to DeniseColbert

[2021-11-15 17:37] PatReynolds commented on #229
@PatReynolds to take a look

[2021-11-15 17:37] PatReynolds commented on #230
@PatReynolds  to implement

[2021-11-19 12:57] DeniseColbert commented on #231
From #141

How we move the styling into our SCSS depends on #151 — updating the colours and layout of the button. If we are going to use an SVG background image (the simplest in the long run), then the styling, including focus/hover, will be a part of that issue and will be solved when that is done. If we are going to stick with PNG, the styling will need to be added to our SCSS in a different man

[2021-11-19 12:59] DeniseColbert commented on #231
Yes

[2021-11-19 13:36] DeniseColbert commented on #151
@AlOneill further to our discussion today...

The pull request is just how we received the animation from the volunteer, not sure about the answer to your SVG question. Do you think this is something you could do, still?

[2021-11-19 13:37] DeniseColbert commented on #151
Yes @AlOneill

[2021-11-19 17:32] AlOneill commented on #151
@DeniseColbert If you can point me at the current animated SVG components on GitHub (or I can find them myself, which I doubt), then I can probably update them — no promises. A developer will have to perform the subsequent GitHub magic as I never did master (pun intended!) that wizardry.

[2021-11-19 18:15] AlOneill commented on #151
@DeniseColbert Have copied SVG and styles from CEN (styles for all variants) and will attempt to update. Do not hold you breath … I'm not as clear-thinking as I was in 2020(!)

[2021-11-19 20:40] AlOneill commented on #151
Woot! After an uncertain start, I've worked out where to change the colours. The donate button now looks like this (on my laptop, in Safari, and with CEN styling for the focus state):
![donate__animated.png](https://images.zenhubusercontent.com/5ce6b34165b1a70acc0a9124/0d852adb-bcff-4791-8876-36f4ec52002d)

This is the focus state with the animation completed:
![donate__animated-focus.png](https:/

[2021-11-20 23:46] AlOneill commented on #231
Have just tried to get Refinery to save a page with some raw (inline) SVG as per the animated Donate icon. It did not work — Refinery deleted all the SVG markup.

The question is, can we (someone!) produce a version of the animated icon using classes (to create a background image), which is how our project icons are set up. I have no idea, except that it looks like a complex job and I do not know

[2021-11-20 23:50] AlOneill commented on #151
See #231 for details of how Refinery deletes raw (inline) SVG data — in other words, the animated Donate button, as it stands, cannot be saved in a Refinery page. No great surprise, but it had to be tried.

[2021-11-23 11:40] DeniseColbert commented on #215
Website with a widget (for pre-focus issue) https://teamtrees.org/

[2021-11-29 16:56] DeniseColbert commented on #218
FUG Website:

- Constitution
- Privacy Notice
- Code of Conduct

[2021-11-29 16:58] Captainkirkdawson opened #232 "Add text above footer ad to ensure people know it is an advert"

[2021-11-29 17:00] Captainkirkdawson commented on #232
![advert.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/c5bbf5ae-9a8f-45d3-9111-b16151fd1223)

[2021-11-29 17:21] PatReynolds commented on #232
@Vino-S to add Advertisement as on freeCEN.

[2021-11-29 17:22] #223 closed, assigned to richpomfret

[2021-12-13 10:08] Vino-S commented on #208
Replaced the document

[2021-12-13 12:08] PatReynolds commented on #227
google.com, pub-5379635334920389, DIRECT, f08c47fec0942fa0

Please could you try with FreeREG first.

[2021-12-13 12:25] PatReynolds commented on #67
We are back with the old consents, which appear to be over-riding the ones I have made in GoogleAdsense.

[2021-12-13 12:31] PatReynolds commented on #230
Draft now on test3,.freebmd2 - only change has been to add a sentence to the opening paragraph.

[2021-12-13 12:32] archerbarrie commented on #67
Does this require any action? If so by whom and what?

[2021-12-13 13:04] PatReynolds commented on #226
I have done a little reasearch (https://docs.google.com/document/d/1VzAV5Vpduuj84IySEqcNDQYkvoP_QzoN02565nRIC_g/edit?usp=sharing) and conclude that the order we have, including an orienting paragraph before the index as we do, is what is meant by 'meaningful sequence'.

[2021-12-13 13:06] PatReynolds commented on #216
As this data is pulled from the Charity Commission, and we cannot close the old charity at the present time, it is not possible to move forwards with this.

[2021-12-13 17:05] PatReynolds commented on #226
@AlOneill could you take a look? Thanks, Pat

[2021-12-13 17:06] PatReynolds commented on #230
Could @AlOneill and @DeniseColbert take a look? Thanks,

[2021-12-13 17:07] PatReynolds commented on #219
Removed now, so closing.

[2021-12-13 17:07] #219 closed, assigned to Vino-S

[2021-12-13 17:08] PatReynolds commented on #208
Complete, so closing.

[2021-12-13 17:08] #208 closed, assigned to DeniseColbert, Vino-S

[2021-12-13 17:09] PatReynolds commented on #224
Page created, so closing.

[2021-12-13 17:20] DeniseColbert commented on #230
Is it worth adding something like "but we do our best to find accessible alternatives before resorting to these" owtte?

[2021-12-13 17:31] PatReynolds commented on #67
I need to check the old consents against the ones produced by Google to check that we are using the right words / offering the right options.

[2021-12-13 17:52] AlOneill commented on #230
Agree with comment from @DeniseColbert .

Changed a "may" to "might" and corrected spelling of page main heading (accessibility).

Then there is the elephant in the room — Google forms.

[2021-12-13 17:57] PatReynolds commented on #230
I'm trying to think of where we do look for alternatives - that certainly applies on www.freeukgenealogy.org.uk, but on the project pages we are tied to the websites of record offices, UKBMD, parish churches, etc. There seem to be few links where we do have a choice (we should look at those,(e.g. mapping).

[2021-12-13 18:09] AlOneill commented on #230
We have replaced the link to the GRO PDF on BMD with one to an HTML page — the page might or might not be a significant improvement.

[2021-12-14 10:46] PatReynolds commented on #230
So we did! Yes, this change to the Accessability check can stand.

[2021-12-14 11:08] PatReynolds commented on #230
On Google forms - this is how the Department for Transport handles the issue: https://www.gov.uk/government/publications/dft-accessible-online-form-and-survey-statement/accessibility-statement-google-forms#reporting-accessibility-problems-with-google-forms

Web-aim discussions agree that it is up to us to report to Google.
Helpful things are
1. putting 1 question per page
2. if a question is requi

[2021-12-14 11:47] PatReynolds commented on #227
The first is FreeCEN .... FreeBMD/FreeREG is

google.com, pub-7825403497160061, DIRECT, f08c47fec0942fa0

[2021-12-17 12:24] DeniseColbert commented on #224
Needs to be put on FreeREG & CEN too, in due course

[2021-12-17 12:26] DeniseColbert commented on #224
@DeniseColbert  to check link sharing

[2021-12-17 12:55] DeniseColbert commented on #230
Transfer new addition to CEN & REG

[2021-12-17 12:56] DeniseColbert commented on #139
Lead paragraph/On this page issue to be addressed

[2021-12-17 13:09] DeniseColbert commented on #215
Add: "Choose how to donate below" (pre-focus)
Nothing in lower section, to appear upon selection

Suggest PayPal link in top button rather than PayPal button in lower section (same for KL) - @DeniseColbert to discuss with @TazHinkle

[2021-12-19 16:08] Captainkirkdawson commented on #232
@Vino-S the advert is still showing without a heading that it is an advertisement![no statement.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/88c39f25-1b2a-4fe4-8ae5-7c7d206cb479)

[2021-12-29 10:46] PatReynolds commented on #233
Transferring to Systemwide as part of wider documentation epic

[2022-01-03 21:57] Captainkirkdawson opened #234 "Is it time to reconsider our maximum results limit?"
When we launched the Second generation of the apps we imposed a 250 limit on the number of results. This was done primarily as a means of limiting search run times. Since then we increased the limits to 500.  There are about 4% of the searches still maxing out.
The efficiency of searches has been improved by the use of dedicated database servers and we have improved the index selection code such t

[2022-01-04 10:15] PatReynolds commented on #234
Asking our users a good idea. I can ask on Twitter.  FYI, FreeBMD has a max of 3000.

[2022-01-07 12:48] DeniseColbert opened #235 "Title case "Names" list (rather than block caps as currently)"

[2022-01-07 12:58] DeniseColbert opened #236 "Improve accessibility of Names pages for screen reader users"
Screen readers will try to pronounce words rather than spell them out, where possible. Many names sound the same when read out e.g. Abbey, Abby, Abbe, Abey, which is unhelpful to screen reader users.

However, the main issue for the not-lists of Names is that a screen reader will read each group 'in one breath', as it were, and there is no way to pause the reading or go back a few names to check t

[2022-01-07 13:19] DeniseColbert opened #237 "Accessibility guidance documentation for Tech Volunteers"
Documents (or sections of one document) needed on:

- [ ] Assistive technologies (we have this, but needs review) - **GENERAL or FOR ALL**
- [ ] HTML for accessibility in App pages - **FOR PEOPLE USING HTML AND CSS IN THE APP PAGES**
- [x] HTML for accessibility in Refinery - **FOR PEOPLE USING HTML AND CSS in REFINERY** (in Markup guide)
- [ ] Accessibility for UX/Designers (#240?)

Folder with e

[2022-01-10 16:40] #214 closed, assigned to Vino-S

[2022-01-17 16:51] Vino-S commented on #227
The text exists: No implementation needed

[2022-01-17 17:47] PatReynolds commented on #143
I'm putting a 'quite urgent' on this as I think it is part of the Donations epic (in that it is a way of others marketing our sites).

[2022-01-17 17:51] PatReynolds commented on #186
@Vino-S or @Captainkirkdawson how urgent is this?

[2022-01-17 17:52] PatReynolds commented on #187
@Vino-S or @Captainkirkdawson how urgent is this?

[2022-01-17 17:55] Captainkirkdawson commented on #186
Has been completed

[2022-01-17 17:55] #186 closed, assigned to nobody

[2022-01-17 17:56] Captainkirkdawson commented on #187
Moderate

[2022-01-19 15:37] AlOneill commented on #139
@PatReynolds The [Markup guide](https://test3.freebmd.org.uk/cms/draft-using-refinery/draft-marking-up-pages-in-refinery) is **ready for review**.

As agreed, please post any comments re typos or contents here rather than on the page itself where they will be overwritten by the next update — which could be very soon if I discover any mistakes or omissions!

While the review is in progress I'll pre

[2022-01-21 12:45] DeniseColbert commented on #151
@AlOneill to send updated file to @Vino-S to be uploaded into GitHub

[2022-01-21 12:58] DeniseColbert opened #238 "Communicate new documentation to development teams"
Style guide/Brand book
Accessibility
Technical
Refinery

[2022-01-21 12:58] DeniseColbert opened #239 "Communicate new documentation to development teams"
Style guide/Brand book
Accessibility
Technical
Refinery

[2022-01-21 13:01] DeniseColbert commented on #139
@PatReynolds & @DeniseColbert to take a look and place comments in this story.

[2022-01-21 13:07] DeniseColbert opened #240 "Design for Accessibility document"
https://docs.google.com/document/d/1saCmGRQhgX6WYiHHYQshtQenyZnbjF1-8WjeOShbCrc/edit?usp=sharing

[2022-01-21 13:08] DeniseColbert commented on #240
@PatReynolds to work on Design for Accessibility document, cutting down the cognitive section

[2022-01-21 13:12] DeniseColbert commented on #237
@AlOneill is working on a summary table to perhaps include in the documentation

[2022-01-21 13:30] DeniseColbert commented on #240
Doc team will look at @AlOneill 's existing documentation and add elements to this document

[2022-01-24 17:02] AlOneill commented on #151
Updated file sent to @Vino-S  24 Jan.

@All I suggest that the text below the button is moved to above it, for the sake of screen-reader users.

Eventually, the button would be more useful if re-written as a class so that it could be used on a Refinery page, and there would be less clutter on an app page. Not easy to do, but I believe it should be possible.

[2022-01-26 15:59] PatReynolds commented on #241
Moving to systemwide

[2022-01-27 17:26] DeniseColbert opened #242 ""Link opens in a new tab" icon"

[2022-01-28 11:31] DeniseColbert opened #243 "Number of active transcribers in each project"
For FSG.

FreeREG: Eric's Newsletter (can we get access to the raw data?)
FreeBMD: Allan's Newsletter
FreeCEN: ? Asked on the board.

[2022-01-28 12:15] DeniseColbert commented on #243
Eric:

Active = Yes is a marker on each UserID.  It doesn't get changed by their activity.  There is also a field in their UserID which is the date when they last uploaded a file.  So to get a total of actually active transcribers the server just needs to scan the 3,000 odd UserIDs and check this date for greater or less than three months back from today.

[2022-01-28 12:51] DeniseColbert commented on #242
@PatReynolds to find info from WebAIM (might be in a story on one of the boards)

[2022-01-29 18:17] AlOneill commented on #153
Have recently been made aware that links styled to look like buttons are also an issue for keyboard-only users. Such a user would expect the two to behave differently.

A link is selected by Enter. A button is selected by enter or Space. Using Space on a link scrolls the page down. There is a bigger issue here.

If I come across links styled as buttons on public Refinery pages, I'll change the sty

[2022-01-31 23:56] AlOneill commented on #242
@PatReynolds is this the image you had in mind?

![new-window.png](https://images.zenhubusercontent.com/5ce6b34165b1a70acc0a9124/7d8eedaa-73c1-4017-96d4-ec92f0eb101a)

Two caveats:

The icon is for a **new window** whereas the browser default is now a **new tab**. Does it manage to suggest a new tab?

We would have to be reasonably sure that it is widely understood — to do that, we would have to t

[2022-02-01 10:15] PatReynolds commented on #242
The box with arrow (various graphic representations) seems to be fairly standard.

I'm not sure why we need to test without a title attribute: this is not designed to replace the title attribute, but to help those who do not use a screen reader.

[2022-02-01 15:49] AlOneill commented on #242
@PatReynolds The box with an arrow, as used on Wikipedia, signifies an **external site** — it does **not** signify that the link will open in a new tab. That choice is left to the user!

Can you suggest a site where the icon is used to signify a new tab?

I was trying to say that if we test the user recognition of what an icon means — we need to know what a user understands by it — then we cannot

[2022-02-04 13:27] AlOneill commented on #151
The new CSS (teal colours) are now in use on t3 REG. Have not looked on other projects.

What about the suggestion that we move the text to above the button for the sake of screen reader users?

[2022-02-07 16:11] AlOneill opened #244 "Refinery converts a word-break to an invalid xml tag which either browsers delete or they never see"
The `<wbr>` is used only on one (REG) page at present, but it is unfortunate that Refinery converts it to xml-style, `<wbr />` which browsers (Firefox, Chrome, Safari) delete as invalid or do not get to see. This means that users have to scroll to see the whole line: it should wrap.

Users see:

![word-break-issue.png](https://images.zenhubusercontent.com/5ce6b34165b1a70acc0a9124/a38c4216-4607-49e

[2022-02-08 15:13] Captainkirkdawson opened #245 "Retryable write with txnNumber 258 is prohibited on session"
We appear to have a communications issue somewhere in the mongodb server cluster that is creating a significant number of errors on errbit. These crashes are impacting users. Unfortunately I have no way of determining where and what is the root cause. Clearly one of the cluster is acting up
They occur only with the freereg app and started 20 hrs ago. Both apps have essentially the same configurati

[2022-02-08 23:45] lemon-ukgen commented on #245
With further context I don't think it's related to the configuration issue in the linked SO article. Please ignore that.

I can't find any sign of a network issue inside the MongoDB cluster or between the application servers and the cluster.

[2022-02-11 00:35] AlOneill commented on #237
@DeniseColbert the 'summary table' is somewhat beside the point. What I _am_ working on is some HTML pages that:

* explain the need for valid and semantic (rather than presentational) HTML — with examples for commonly-used elements on our App pages
* demystify our CSS — our style-names (and their use constraints) are somewhat quirky and many were named with designers in mind rather than those who

[2022-02-12 21:59] TazHinkle commented on #215
I haven't heard from anyone for a bit, but I had a little time today.  Not sure if you decided on changing the order of the buttons so I left those alone.  The rest of it I have tried to change to your stated preferences.  I've committed the changes and it's ready for you to look over.

[2022-02-14 01:00] Captainkirkdawson commented on #245
Issue is causing hundreds of search crashes daily on FreeREG; this is critical issue. 224604696 Website Problem (Pete Daniels) #1463

[2022-02-14 17:08] Captainkirkdawson opened #246 "[production][search_queries#create] No primary server is available in cluster: #<Cluster topology=ReplicaSetNoPrimary[mongodb2.intern..."
mongodb1 went AWOL at 1pm on 14 Feb

[2022-02-14 17:09] #227 closed, assigned to PatReynolds, Vino-S

[2022-02-14 17:12] PatReynolds commented on #234
@PatReynolds to send text to @DeniseColbert

[2022-02-14 17:12] Captainkirkdawson commented on #246
![awol.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/48a960c5-6cb5-4274-82cc-872d1798dae9)

[2022-02-14 17:16] Captainkirkdawson commented on #245
Hundreds of crashes are continuing on FreeREG on 14 Feb

[2022-02-14 17:21] PatReynolds commented on #230
@PatReynolds to check that current location (in About) is acceptable.

[2022-02-14 17:24] PatReynolds commented on #215
@DeniseColbert to take a look and let @TazHinkle know the order of buttons.

[2022-02-14 17:25] PatReynolds commented on #142
All documentation now in place, so closing.

[2022-02-14 17:27] PatReynolds commented on #151
On hold until the FreeREG errors are sorted.

[2022-02-14 17:29] PatReynolds commented on #244
@AlOneill is this something you are working on, or do you need input from anyone?

[2022-02-14 17:32] PatReynolds commented on #243
@PatReynolds to highlight FreeCEN video to Coords.

https://youtu.be/DM889numA-s

[2022-02-14 17:36] PatReynolds commented on #242
NB only used for links to external sites, so those who know the symbol with that meaning will not be confused.

[2022-02-14 17:37] PatReynolds commented on #241
Need UX people / designers to design adverts

[2022-02-14 17:39] #238 closed, assigned to DeniseColbert

[2022-02-14 17:43] PatReynolds commented on #200
To be reviewed at next meeting.

[2022-02-14 18:46] Captainkirkdawson commented on #245
@Vino-S @lemon-ukgen I remain convinced that this remains a mongodb1 server issue. One way of confirming rejecting this would be to have one of the other servers take over as primary.
Currently mongodb1 will be primary in any election as it has a priority of 5. See
 https://drive.google.com/drive/u/1/folders/0BykgQKwJtk6faHhUWnRsWklNWWc?resourcekey=0-UVGgj7TtT9GHRo0KHiMVxA
If this was reset to 3 a

[2022-02-14 20:43] lemon-ukgen commented on #246
[code]

[code]

[2022-02-14 20:52] lemon-ukgen commented on #246
I don't think this was strictly "WOL", @Vino-S  stopped and restarted at 14:57, which explains the second log above and the freed memory.

The crashed client at 14:14 isn't relevant to this restart.

[2022-02-14 20:52] #246 closed, assigned to lemon-ukgen, Vino-S

[2022-02-14 21:15] lemon-ukgen commented on #245
I have reminded myself how priority works!

I can see @Vino-S is working on the MongoDB cluster and I won't take any action unless asked. But I think I now know how to :)

I extended `mongo-shard-status` to include priority bits of `rs.conf()` at the end:

[code]

[2022-02-15 16:49] Captainkirkdawson commented on #245
@lemon-ukgen @Vino-S It is a simple change
cfg = rs.conf()
cfg.members[0].priority = 3
rs.reconfig(cfg)
rs.stepDown()

[2022-02-15 21:02] Captainkirkdawson commented on #245
Vino reports that the change made no difference confirming it is not a server malfunction but something we are now doing.

[2022-02-15 21:04] Captainkirkdawson commented on #245
I have done an analysis of the onset of the issue and looked at some of our settings that have not been changed.
First failure of this occurred on howler with REG at Feb 07 05:57:25 few             ; Last software update 2022-02-07T05:18:48+00:00 ; secondary_preferred 4,5,1,2,3
First failure of this occurred on drill with REG at Feb 07 09:21:41 minimal          ; Last software update 2022-02-07T05

[2022-02-15 21:23] Captainkirkdawson commented on #245
It seems that the issue started after the deployment of  2022-02-07T05:10:07+00:00. It affects primarily reg and occasionally cen. It has not affected saki and drill on cen which are both running the earlier code base. It is not affecting brazza on cen even though updated however brazza is running secondary preferred.
The vast majority of the errors involve reading search results after writing the

[2022-02-15 22:21] Captainkirkdawson commented on #245
I have changed the read preference on colobus to secondary_preferred but still 1,2,3,4,5. Will evaluate

[2022-02-15 23:45] Captainkirkdawson commented on #245
Continues to occur.  Looking at the log.
FREEREG:SEARCH: Search 620c3820f4040b182f2b9586 had a problem Retryable write with txnNumber 42 is prohibited on session 7fd511bb-daa3-4ffb-8620-43b35e517e53 - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU= because a newer retryable write with txnNumber 1175 has already started on this session. (225) (on mongodb2.internal.freeukgen.org.uk, modern retry, attem

[2022-02-16 03:02] Captainkirkdawson commented on #245
Looking at errbit errors
 https://github.com/FreeUKGen/MyopicVicar/blob/master/app/controllers/freereg_contents_controller.rb#L33 is the action that seems to cause a number of these issues but why? It has been in use that why for 3 years!!
https://github.com/FreeUKGen/MyopicVicar/blob/master/app/controllers/open_controller.rb#L55
is another save of a set of user submitted parameters. It is 4 years

[2022-02-16 04:18] lemon-ukgen commented on #245
@Captainkirkdawson I've made no changes to either Apache/Passenger or MongoDB servers this year.

Maybe worth checking out that [How to fix: Mongo::Error::OperationFailure](https://stackoverflow.com/questions/68806406/how-to-fix-mongoerroroperationfailure) link above after all!

The ["further context"](https://github.com/FreeUKGen/Systemwide/issues/245#issuecomment-1033174860), for ignoring it, wa

[2022-02-16 04:58] Captainkirkdawson commented on #245
@lemon-ukgen I was pretty sure there had been no changes to apache/passenger but had to check.
WRT to your suggestion I do not understand where that code would go.
All we have in config.ru is

require ::File.expand_path('../config/environment',  __FILE__)
run MyopicVicar::Application

Can you discus with @Vino-S and lets give it a whirl

[2022-02-16 05:15] lemon-ukgen commented on #245
I think it should go between the `require` and the `run` line, but ... I'm no Rails developer!

Something like:

[code]

Probably best try this on `test2` / `test3` first.

[2022-02-16 11:35] Vino-S commented on #245
Implemented Lemon's suggestion in live for FreeREG. It's been an hour since the Colobus implementation.
There has been no error reported in FreeREG since the implementation.
Should we proceed with the deployment of the changes in CEN too?

[2022-02-16 17:21] Captainkirkdawson commented on #245
@Vino-S Sorry to be dumb but you say you implemented Lemons suggestion on Freereg live for colobus. How? I see no commits to master. I see no change in config.ru on colobus. Ah I see it in environment.rb
You just did colobus, saki, howler and drill but not brazza
I see that in the log the FREEREG:SEARCH: Search  had a problem Retryable write messages stopped after the last one at 2022-02-16 10:28:

[2022-02-16 18:57] Vino-S commented on #245
Thanks for the solution @lemon-ukgen
Deployed the changes to live for both CEN and REG.
@Captainkirkdawson ,:  _I still do not understand why it only appeared after that last update_
I am not sure about CEN, but I ran `tmp:cache:clear` in the last FreeREG deployment. May be this was the reason.

[2022-02-16 19:13] Captainkirkdawson commented on #245
@Vino-S thanks. Since I have no idea of what  tmp:cache:clear actually does and its implications; who knows. I have never ever done it so possibly

[2022-02-22 14:49] DeniseColbert opened #247 "Contact Us in Footer issues"
- [x] On FreeCEN, the link goes to a page that doesn't yet exist on FreeCEN, could it be reverted to the Contact form? **(This is High Priority as users can't contact us at all at the moment on CEN)**

- [ ] On FreeREG, could the link text be changed to read "FAQ & Contact Us"?

[2022-02-22 15:29] AlOneill commented on #242
… until the link opens unexpectedly in a new tab! That is, the association between an external site and opening in a new tab is not established or sign-posted.

[2022-02-23 17:43] PatReynolds commented on #109
Found in FreeCEN scrum - realise have not touched this for 2+ years - need to understand what, if anything remains to be implemented.

[2022-02-23 23:39] AlOneill commented on #109
@PatReynolds there is now a `th.sticky-header` class in our CSS — `lap_and_up.css`, but nothing for links AFAICT

I was meant to be implementing a version that would **include automatic link styling** but ran into a snag and then got distracted by other tasks. So, it is not complete. A plain link will not work — it needs the same styling, including focus and hover, as for a link in a navy isle.

B

[2022-02-24 16:00] AlOneill opened #279 "Add ARIA attributes to Refinery whitelist (Was ARIA attributes are going missing between Refinery editor and browser)"
I have added `nav` elements to the sub-menu "On this page" on "About" and "Help" together with `aria-labelledby="this page"` which references the `id` of the sub-menu heading.

Refinery saves it all, but the ARIA attribute does not make it through to the browser, leaving the sub-menu without a label in the VoiceOver Landmarks listing — it is listed as "navigation". The label for the main navigatio

[2022-02-24 16:12] AlOneill commented on #279
To add to the above:
When I restored the ARIA attribute using browser development tools in Safari, the Landmarks listing had "On this page navigation", as expected.

So, where on earth do we start with investigating this issue further?

[2022-02-24 20:54] AlOneill commented on #279
I am planning (hoping) to use ARIA attributes to distinguish between and describe the various blocks wrapped in `aside` elements. That might include labelling advert blocks …

Also, for best practice, we should label other things such as tables, even if there is only one example on the page. It all contributes to helping a user who cannot see to understand what is on a page and how that page is st

[2022-02-25 18:17] AlOneill opened #249 "BMD and CEN need per-page title elements, as on REG"
Although REG sets the `title` element in the `head` on a per page basis, BMD and CEN do not.

The BMD default `title` is misleading as it says, "FreeBMD - UK Birth, Marriage, and Death Records (England, <em>Scotland</em>, Wales)". The emphasis is mine — Scotland records are not included on BMD.

[2022-02-25 18:20] AlOneill commented on #249
The contents of the `title` element is the first thing a screen reader user will hear when they reach a page. It helps everyone to know what the page is about, and whether they are in the right place. Sighted users will expect to see that in the browser tab. When a user returns to a browser tab later, they will know which page they are on.

For sighted users with a lot of tabs open, it helps to pu

[2022-02-28 11:57] PatReynolds commented on #234
Sent draft 28 Feb 2022

[2022-02-28 12:14] PatReynolds commented on #67
Which of these purposes do we use cookies for https://iabeurope.eu/iab-europe-transparency-consent-framework-policies/?visit_id=637816466300501462-1222024242&rd=1#Appendix_A_Purposes_and_Features_Definitions ?
Which  don't we use, which are our legitimate interest,  and which are neither (require consent).

[2022-02-28 17:10] DeniseColbert commented on #109
@AlOneill to let us know what the CSS should be, for implementation by a developer

[2022-02-28 17:16] DeniseColbert commented on #226
Done; closing

[2022-02-28 17:16] #226 closed, assigned to AlOneill

[2022-02-28 17:19] DeniseColbert commented on #67
@Vino-S to look at the list of purposes and note the ones we use

[2022-02-28 17:22] DeniseColbert commented on #234
@DeniseColbert  to provide an image for SM with a screengrab of the Too Many Results message, then post to FB, @PatReynolds to post on Twitter

[2022-02-28 17:32] DeniseColbert commented on #245
Done and fixed so closing

[2022-02-28 17:32] #245 closed, assigned to lemon-ukgen, Vino-S

[2022-02-28 17:35] DeniseColbert opened #250 "Review links in Footer"
It's a bit cluttered, what we remove/place elsewhere so that we can unclutter and put the Accessibility Statement in.

[2022-02-28 17:38] DeniseColbert commented on #151
On CEN & REG live, closing

[2022-02-28 17:39] #151 closed, assigned to AlOneill, DeniseColbert

[2022-02-28 17:42] DeniseColbert commented on #250
Balance of text to other projects. Review Royal Mail footer for inspiration. @DeniseColbert to take a look

[2022-02-28 17:45] DeniseColbert commented on #249
@Vino-S will look at the code for FreeREG and see if it can be taken over to CEN & BMD2

[2022-02-28 17:53] archerbarrie commented on #67
Have we signed up to the TCF (at an eye watering $1500pa)?

It should also be noted that each legitimate interest should be accompanied by a justification.

[2022-03-01 15:18] AlOneill commented on #109
@Captainkirkdawson @DeniseColbert
I think we might be barking up the wrong tree here. As ever, the devil is in the details.

Links go places; buttons perform actions. The "links" on the column headers on REG Search Results, for example, are for sorting the results and so should be buttons (or inputs). Is there really a need for actual links? Where would they go?

[2022-03-01 15:28] Captainkirkdawson commented on #109
@AlOneill I have retired from new undertakings

[2022-03-01 15:34] AlOneill commented on #109
@Captainkirkdawson I understand — just wanted to keep you in the loop as sticky-headers were your idea.

[2022-03-01 16:33] AlOneill commented on #109
@DeniseColbert
Unless anyone can suggest a legitimate use of a link in column headings, I suggest this be closed.

Whether or not we use sticky-headers on public pages, we need a better way of providing sorting actions on table columns than links — the method being developed for BMD tables looks far more suitable, once all the snags have been resolved. (Remember that links and buttons, or inputs,

[2022-03-03 15:13] AlOneill opened #264 "Review - Head elements in body on t3"
On t3 and live FreeREG there is a big bunch of elements at the top of the `body` element that belong in the `head` element. Also FreeBMD2 t3. This likely means that all of our websites need reviewing for this and fixing. (It's not good practice and could be an accessibility issue for screen readers).

[2022-03-07 16:46] AlOneill opened #251 "On narrow screens, the sticky header styling disappears and row striping reverts to yellow"

[2022-03-07 16:48] #251 closed, assigned to nobody

[2022-03-07 16:51] AlOneill commented on #109
**New issue:**
At palm widths, the sticky-header styling disappears and the row-striping reverts to yellow. Deliberate or accidental?

[2022-03-09 13:47] AlOneill commented on #236
As I have commented elsewhere, we probably need to warn users in our Accessibility statement that there are such homonyms on some pages. Then a screen reader user can switch to reading individual characters rather than words. Not perfect but … is there any other way?

[2022-03-09 20:46] AlOneill commented on #153
I note that the `main` elements on our sites already have an `id` and it is not the same for all three: `bmd_site_content`, `site_content` for others. Maybe a bit of an awkward thing to type for Refinery content creators. The other elements between `main` and the page `h1` also have awkward `id`s that already have a job to do.

**Needs more thought.**

@Vino-S what do you think?

[2022-03-10 12:56] Vino-S commented on #153
@AlOneill ,
We have a `div with container class` just inside the `main` element across all three projects.
Could we use that?

[2022-03-10 16:22] AlOneill commented on #153
@Vino-S
Yes, I see it now. That would do.

Give that `div` an `id="top"` and then remove the button styling from the "Top of page" link so that it looks like a link and give the link `href="#top"`.

Have I missed anything?

[2022-03-14 12:36] PatReynolds commented on #230
https://www.w3.org/WAI/planning/statements/#:~:text=Where%20to%20put%20an%20accessibility,helps%20users%20to%20find%20them. says "Accessibility statements should be easy to find. Linking them from several places, such as from the footer, help menu, sitemap, about page, and other prominent areas helps users to find them. Use consistent link names for your accessibility statements to help users reco

[2022-03-14 14:07] AlOneill opened #252 "Improve markup of footer for all users"
I recently had reason to study the site footer: there is only one outright error (story FreeUKGen/FreeBMD2#518) on CEN and REG, and there is a second error on BMD (in the description list).

However, I finally worked out what has been bothering me most about the look of the footer — no unambiguous structural signposts. Looking into that has exposed a number of other things that could be improved f

[2022-03-14 14:14] AlOneill commented on #252
All the links in the footer have the attribute `rel="noreferrer"`. As I understand the `noreferrer` keyword, it is useful if the link is to a site that is not trusted, but otherwise unnecessary, even a little bonkers for an internal link (and it distorts the target site's analytics). So, do we keep `noreferrer` on the social media links and/or the PDF (a Google Doc) or do we delete them all?

Am I

[2022-03-14 17:11] PatReynolds commented on #243
Method for FreeREG: based on uploaded file recent.

Added to ComeTT's product definition.

[2022-03-14 17:17] PatReynolds commented on #230
Currently link in about and (forthcoming) in footing.

When improved, add link from Help.

[2022-03-14 17:20] PatReynolds commented on #242
@DeniseColbert to ask Catherine (UX) about this.

[2022-03-14 17:35] PatReynolds commented on #252
Make the Free UK Genealogy News link in the 'Follow us' section go to the Newsletter Signup on Wordpress site (in due course).

Discussed using the FUG hexagons as the image - may not work.  Vino sent possible icon to Alison.

Vino to remove rel="noreferrer"

[2022-03-14 18:29] SteveBiggs commented on #242
I've said this before, but I find it extremely annoying when a link to an external site does NOT open in a new tab. If I'm being sent off to a different site, I always want to be able to EASILY return to the first site no matter what navigating I do in the new one (and umpteen browser 'back-button' hits is not the most convenient!

[2022-03-14 21:11] AlOneill commented on #242
@SteveBiggs That should happen only on a public page (or some footer links). Can you give an example of an external link that behaves as you describe?

Remember that you could right-click on any link, just to be sure.

[2022-03-14 21:57] SteveBiggs commented on #242
@AlOneill I was talking generally - not referring to any specific FUG links. Although, personally, I'd like the RefineryCMS and Roadmap links to open in a new tab as they take you away from the main top bar menu options in FreeREG.

Yes, I use right-click on all links where I know it will not open in a new tab automatically.

[2022-03-15 16:29] AlOneill commented on #229
**Update:** the reason for the reported lack of container for the sister project icons is the `role="navigation"` on the `ul` which stops it functioning as a list container. This is being addressed.

The complaint about the repeated `id` on the ladda search button still holds, probably. In any case, I very much doubt that the information conveyed visually by the spinning is accessible to a screen

[2022-03-15 16:42] AlOneill commented on #210
A reminder that the Action 'buttons' are not buttons at all, but links in disguise. This would need to be changed when we make our Member pages accessible, so why not make a start here? Though perhaps we should wait until we implement borders on links to provide the familiar underlined look.

[2022-03-15 16:50] AlOneill commented on #93
Remember that too little white space and cluttered layouts are an issue for some — those with specific learning difficulties such as dyslexia, for instance. Any reductions in white space would therefore need to be backed up with top-class layout design.

[2022-03-16 17:03] PatReynolds commented on #234
Tweeted in Ancestry Hour 16 March 2022

[2022-03-16 19:42] DeniseColbert commented on #242
Kathryn will be able to join the Doc meet on 24th to discuss

[2022-03-22 14:49] PatReynolds opened #253 "Can we place adverts last in source order or in the header?"
Placing the advert code last, or in the header, will mean that those using screen readers will not hear the adverts until they have reached the end of the content they came for (apologies, Alison, if I have misremembered this, please edit!)

[2022-03-22 15:33] AlOneill commented on #253
@PatReynolds
A screen-reader user does not have to hear the whole page or hear the page in source order — they can navigate by headings or landmarks or lists, etc. A keyboard-only user is limited by the source order.

I was thinking that a keyboard-only user would not get lost in the advert until the end of the page content. **However**, the ad would still stand in the way of a keyboard-only user

[2022-03-22 16:53] AlOneill commented on #224
A DRAFT Using Refinery page has been created in all 3 projects. The content of the page is more complete for some projects than others — BMD has the most content but it is not complete as links are missing or need updating.

[2022-03-23 18:37] AlOneill opened #254 "For better identification of links, consider adding a bottom-border (instead of underlining)"
Using the default `text-decoration: underline;` places the underlining too close to the text, making it harder to read. Using a `border-bottom` enables better placement and does not interfere with legibility.

[2022-03-23 18:47] AlOneill commented on #254
Underlining of links is what many users expect to see. We do not use the `text-decoration` property because of the way it affects legibility by obscuring descenders of some letters. A border would do a better job.

Preliminary testing — using REG styles as I do not fully understand the BMD cascade — reveals some weirdness (technical term!) that would need fixing. We would also need to decide which

[2022-03-28 16:24] PatReynolds commented on #139
@AlOneill is revising.

[2022-03-28 16:27] DeniseColbert commented on #250
![Capture](https://user-images.githubusercontent.com/19173257/160444026-f91a060e-f48a-4632-ac57-c5d5520a86a1.PNG)

[2022-03-28 16:28] DeniseColbert commented on #250
@AlOneill social icons don't have links on Royal Mail footer, or was it something else they did well that I should be looking at?

[2022-03-28 16:30] PatReynolds commented on #250
![image.png](https://images.zenhubusercontent.com/5b695a5dac3a200155c765e3/0bf5b479-56ac-4521-9d78-a104b2f901a6)

Nb text is not hyperlinked.  Icons have tool tip saying 'RNIB on Twitter' (etc.)

[2022-03-28 16:31] PatReynolds commented on #252
@Vino-S can you remove  rel="noreferrer" please?

[2022-03-28 16:37] PatReynolds commented on #242
Document how to right-click without a mouse in different operating systems

[2022-03-28 16:44] PatReynolds commented on #234
Next (not immediate next) Vols newsletter, and re-tweet.

[2022-03-30 15:00] AlOneill commented on #139
@PatReynolds @DeniseColbert
Revisions to [DRAFT Marking up pages in Refinery](https://test3.freebmd.org.uk/cms/draft-using-refinery/draft-marking-up-pages-in-refinery) completed on BMD t3

[2022-03-30 15:16] AlOneill opened #255 "Consider making "Top of page" link available for all users, for the sake of keyboard-only users"
As far as I know, there is no easy and reliable way for a keyboard-only user to get back to the top of the page. Using Cmd + up-arrow on a Mac or its equivalent on Windows moves the screen view but does not move the focus — the next press of tab would take a user back to the next link beyond last element that had focus. A hard reload of the page takes 3 simultaneous key presses which cannot be pra

[2022-03-30 15:39] PatReynolds commented on #139
Thanks @AlOneill - I learned some things from reading this!  No typos (etc) that I could spot.

[2022-03-31 14:43] PatReynolds opened #256 "How to handle the (rare) occassions where links should, optionally, open in a new tab"
Standard is to open links within the current tab, but there may be occasions where some users would prefer to open the link in a new tab.

Suggestion: in such cases, offer users two links, one opening in current,  one in new tab.

[2022-03-31 15:35] PatReynolds opened #257 ""Ready for Accessibility Check" process/label"
In documentation, we discussed always having an accessibility check before deployment.

Documentation on the check is in place for Refinery pages, but is needed for App pages.

[2022-04-02 22:30] AlOneill commented on #244
Interestingly, the preview window of my text editor (essentially a webkit rendering engine) respects the xml-style `<wbr />` elements even though the Doctype is HTML5.

Is this another case of something happening between Refinery and the completed page as delivered to a browser? (Similar to what happens with ARIA attributes.)

[2022-04-02 22:34] AlOneill commented on #139
Thank you, @PatReynolds.

So, is this page ready for publication (i.e. by having the DRAFT prefix removed) or does @DeniseColbert want to review it first?

[2022-04-04 09:35] PatReynolds opened #258 "Consider using unique meta descriptions"
Recommended by Semrush (looking at FreeREG)

They say:
"Our crawler reports pages that have duplicate meta descriptions only if they are exact matches.

"A <meta description> tag is a short summary of a webpage's content that helps search engines understand what the page is about and can be shown to users in search results.
Duplicate meta descriptions on different pages mean a lost opportunity to

[2022-04-04 09:40] PatReynolds opened #259 "Duplicate title tags (Semrush audit)"
Do we want to do anything about these:

1. https://www.freereg.org.uk/freereg_contents/new
2. https://www.freereg.org.uk/freereg_contents/new?locale=en

a. https://www.freereg.org.uk/cms/refinery/login
b. https://www.freereg.org.uk/cms/refinery/users/login

i. https://www.freereg.org.uk/search_queries/new?locale=en
ii. https://www.freereg.org.uk/

Semrush says:
"Our crawler reports pages that have

[2022-04-04 09:46] PatReynolds opened #260 "Duplicate meta descriptions (Semrush)"
"Search Query | FreeREG https://www.freereg.org.uk/"
"About | FreeREG https://www.freereg.org.uk/cms/about"
"Accessibility statement | FreeREG https://www.freereg.org.uk/cms/about/accessibility-statement"
"Cookie Policy | FreeREG https://www.freereg.org.uk/cms/about/cookie-policy"
"Your reviews | FreeREG https://www.freereg.org.uk/cms/about/your-reviews"
"Help | FreeREG https://www.freereg.org.uk/

[2022-04-04 09:48] #260 closed, assigned to nobody

[2022-04-04 09:53] PatReynolds commented on #139
@DeniseColbert could you check given that I am not great at proofing for spelling?

[2022-04-04 16:59] PatReynolds commented on #279
@PatReynolds to ask stackoverlow - send draft to Alison

[2022-05-04 14:43] Vino-S commented on #153
REady for testing in test3

[2022-05-05 12:13] AlOneill commented on #153
@Vino-S cannot see any change on BMD2 — top of page link still has invalid `href` and looks like a button; no `id="top"` on first child of `main` element.
Am I looking in the wrong place?

[2022-05-05 13:42] AlOneill commented on #153
@Vino-S I can see the changes on CEN — looks good and works as expected.

[2022-05-08 17:49] AlOneill opened #261 "Use teal instead of magenta for background to "The FreeXYZ database is just a finding tool …""
Teal looks good with all 3 colour schemes and it would provide a better visual separation of the main content from the footer content on BMD. What is the reasoning for using magenta? Discuss …

[2022-05-08 17:56] AlOneill commented on #261
Teal is not the only option. We have other white on dark combinations (apart from the project colours), including navy and two greys.

[2022-05-09 11:08] PatReynolds commented on #242
https://techspectacle.com/how-to-right-click-without-a-mouse/
https://mcmw.abilitynet.org.uk/how-to-use-your-keyboard-to-control-the-mouse-pointer-in-windows-11 (only for keyboards with numeric keypads)
https://www.techrepublic.com/article/pop-quiz-solution-how-to-right-click-without-a-mouse/

Pat to test on windows.

[2022-05-09 16:13] PatReynolds commented on #230
To go in About in all multi-modal sites.

@PatReynolds to check google form has the web aim suggestions incorporated.

Send feedback to Google.

[2022-05-09 16:43] PatReynolds commented on #250
Not providing information to those not using screen readers about the icons. Chrome, Edge, Safari, Firefox all show the destination url of links (Safari also says if it opens in a new tab) - presume users needing this information will use a browser that provides it.

Add link to Accessibility Statement into left-hand panel panel

Move make a donation moves to bottom

Need to check how Joseph has s

[2022-05-09 16:51] PatReynolds commented on #242
Policy is (where we use an open in a new tab) that we state this in words.

So closing.

[2022-05-09 16:51] #242 closed, assigned to PatReynolds, AlOneill, DeniseColbert

[2022-05-09 17:00] PatReynolds commented on #261
Decided to use Teal as (a) it is the FUG colour, and (b) it is not the BMD colour/other project colour (c) it is more positive than navy or grey

[2022-05-16 15:32] PatReynolds commented on #279
Draft text sent to @AlOneill 15 May 2022

[2022-05-22 22:47] Vino-S commented on #252
Ready for testing in test3  CEN

[2022-05-22 22:47] Vino-S commented on #232
Ready for testing in test3 CEN

[2022-05-22 22:47] Vino-S commented on #157
Ready for testing in test3 CEN

[2022-05-22 22:48] Vino-S commented on #249
CEN: Ready for testing in test3 CEN

[2022-05-22 22:49] Vino-S commented on #247
Fix deployed in production

[2022-05-23 12:54] AlOneill commented on #157
'About' link present in main menu, but there is now not enough space for all the links — various disappear/reappear at certain screen widths.

[2022-05-23 13:02] AlOneill commented on #252
Most gone but one remains on the 'Statistics' link.

[2022-05-23 13:11] AlOneill commented on #249
@Vino-S looking good, but should be cased as "FreeCEN" rather than "FREECEN" and I'm not sure that app pages have the most useful `title`s — I will need to make a more thorough check.

[2022-05-23 13:13] AlOneill commented on #247
Looking and working as expected on t3 CEN.

[2022-05-23 16:03] DeniseColbert commented on #252
Vino will fix "Statistics"

[2022-05-23 16:05] DeniseColbert commented on #232
Needs to be tested on live site: Vino will deploy and then test.

[2022-05-23 16:07] DeniseColbert commented on #157
Vino will investigate and fix

[2022-05-23 16:09] DeniseColbert commented on #249
Vino will fix casing

[2022-05-23 16:09] DeniseColbert commented on #247
Done: closing

[2022-05-23 16:10] #247 closed, assigned to Vino-S

[2022-05-23 16:11] DeniseColbert commented on #221
Vino is still working on this, needs testing then deploying and then testing again.

[2022-05-23 16:11] DeniseColbert commented on #139
Yep, I will give it the once-over for spelling etc.

[2022-06-06 16:11] PatReynolds commented on #231
@Vino-S to check if working.

[2022-06-06 16:13] PatReynolds commented on #13
On CEN, to be added to FreeREG.

[2022-06-06 16:15] PatReynolds commented on #249
Done now on FreeCEN, but casing needing attention.

[2022-06-16 12:55] #253 closed, assigned to nobody

[2022-06-16 13:06] DeniseColbert commented on #153
Not sure if you can fit this in with the deployment this weekend @Vino-S?

[2022-06-16 13:17] DeniseColbert commented on #256
We decide which links open in new tabs, we must put this warning in the link text.

Everything else we leave to the users discretion.

Consider placing something in the Help/About (miscellaneous).

[2022-06-16 13:28] DeniseColbert commented on #257
"Ready for Accessibility Check" labels to be added to projects on GH, and this new stage built into Scrums before the "Ready for Deployment" label is added.

[2022-06-16 13:28] DeniseColbert commented on #257
@PatReynolds to make labels

[2022-06-16 13:30] PatReynolds commented on #257
Made #fcb103 is the colour.  Applied to all three programme boards and Systemwide

[2022-06-16 13:34] DeniseColbert commented on #258
@AlOneill to take a look when time/will allows, in application.hmtl.erb to see what the issue is.

[2022-06-20 16:06] #257 closed, assigned to nobody

[2022-06-20 16:10] PatReynolds commented on #13
Pat or Denise to copy and paste html on CEN into REG

[2022-06-20 16:17] PatReynolds commented on #234
Was in the Vols newsletter.  Pat to tweet for Ancestry Hour on Tues 21st

[2022-06-30 13:03] DeniseColbert commented on #250
@Vino-S the SCSS needs changing to remove the space after the third list item. A (slightly) smaller space can be added inline after Accessibility Statement.

I.e.

Useful Links

Cookie Policy
Privacy Notice
Terms & Conditions
Accessibility Statement

Contact Us
News about Free UK Genealogy
Make a donation to cover our operating costs

(Could you also change the "and" in Terms and Conditions to an

[2022-06-30 13:05] DeniseColbert opened #262 "Social link images missing from footer"
RSS icon is fine, but all others have disappeared from CEN & REG both live and Test 3 (FreeBMD" both Beta and Test 3 are fine)

[2022-07-04 12:46] Vino-S commented on #221
Code changes are deployed to production.
Keeping it open : I need to monitor first backup

[2022-07-04 16:10] PatReynolds commented on #13
Not as simple as cut-and-paste, so @AlOneill offered to undertake.

[2022-07-04 16:19] PatReynolds commented on #234
@DeniseColbert to put into next General Newsletter.

[2022-07-04 16:25] PatReynolds commented on #191
@PatReynolds to check that it is ok to share link (see comment on page 6)

[2022-07-04 16:40] PatReynolds commented on #256
@PatReynolds and @DeniseColbert to pick up which pages they use as "new page" when they are undertaking personal research.

[2022-07-04 16:43] PatReynolds commented on #262
@Vino-S could you take a look?

[2022-07-04 16:46] PatReynolds commented on #262
![image.png](https://images.zenhubusercontent.com/5b695a5dac3a200155c765e3/9f8de0b9-79cc-4aad-888c-ab5f82901d52)

[2022-07-05 12:12] AlOneill commented on #13
There are two versions of the easy-fundraising image on CEN, one on the live page plus a second on a draft page.

@DeniseColbert Two questions:

1. which image should be live on CEN and
2. which image should be used on REG?

Thanks.

[2022-07-05 12:28] AlOneill commented on #249
@Vino-S Casing CEN now looks good but am not seeing update on BMD

[2022-07-05 12:36] AlOneill commented on #256
Please bear in mind that users can always choose to open a link in a new tab but they cannot override our decision to do so, i.e. we should set a link to open in a new tab only where it is essential or virtually so.

[2022-07-05 15:02] SteveBiggs commented on #256
My view has always been that any link that takes you away from the current site, e,g, a social media link should automatically open in a new tab so that you can easily return to where you were on the original site without needing to hit the back button several times. Users can always close the old tab if they do not want to return to it.

[2022-07-07 12:53] DeniseColbert commented on #191
Re. Refinery Training v2 document

@AlOneill will update the dummy page screenshots

[2022-07-07 13:12] PatReynolds commented on #256
Users will still be able to open in a new tab, but if we force people to open in a new tab, they won't be able to open in the same tab.

[2022-07-12 13:37] AlOneill commented on #13
@DeniseColbert

Have added Easy Fundraising image and link to [DRAFT opportunities to …](https://test3.freereg.org.uk/cms/draft-opportunities-to-volunteer-with-freereg) on REG as requested and deleted the draft page on CEN as per the decision in our documentation meeting.

Ready for review.

[2022-07-14 12:45] DeniseColbert commented on #279
@AlOneill to finish suggesting improvements to draft and pass back to Pat

[2022-07-14 14:51] DeniseColbert opened #263 "Review links in footer for opening in new tab"

[2022-07-18 11:26] PatReynolds commented on #230
Apologies - does anyone remember which google form is to be checked - is it FreeBMD2 feedback?

Or is my instruction to add checking the suggestions  to the signoff process when a Google form is used?

[2022-07-18 16:05] DeniseColbert commented on #13
Looking good @AlOneill , thank you!

[2022-07-18 16:05] PatReynolds commented on #256
Pat did not find any occassion on a FUG site to open in a new tab.

Story now made to capture any instances that do occur, so closing.

[2022-07-18 16:05] #256 closed, assigned to PatReynolds, DeniseColbert

[2022-07-18 16:07] PatReynolds commented on #157
About link has been moved to production.

Vino to implement "hamburger" solution.

[2022-07-18 16:10] PatReynolds commented on #232
Vino to try putting the warning as a part of the red band.

[2022-07-18 16:13] PatReynolds commented on #252
Vino has fixed staitsitics, so closing.

[2022-07-18 16:13] #252 closed, assigned to AlOneill, Vino-S

[2022-07-18 16:15] PatReynolds commented on #234
There doesn't seem to be a demand, but @DeniseColbert to ask in a newsletter to check this.

[2022-07-18 16:18] PatReynolds commented on #230
Pat to check any google form - doesn't matter which.

[2022-07-18 16:23] PatReynolds commented on #263
General statement to be put at the bottom:

To discuss in documentation:
You may wish to open a link in a new tab.  To do this right click on the link, and select from the menu.

[2022-07-20 16:34] PatReynolds opened #269 "Add a 'search by keyword' to the Help."

[2022-07-21 12:41] DeniseColbert commented on #263
No links are to open in a new tab in the footer. Closing

[2022-07-21 12:41] #263 closed, assigned to PatReynolds

[2022-07-21 12:44] DeniseColbert commented on #250
@vino could you also make ALL links in the footer open in the same tab please?

[2022-07-21 13:12] PatReynolds commented on #259
Urgent because may affect Adsense.

[2022-07-29 11:29] PatReynolds commented on #67
Google thinks it is displaying the consents on FreeBMD and FreeREG (but not FreeCEN) - is this the case @Vino-S?

[2022-08-11 09:58] PatReynolds opened #265 "FreeCEN and FreeREG Contact those who have not signed the Transcription Agreement (regularly)"

[2022-08-13 05:49] geoffj-FUG commented on #266
Pat
Now that we are restructuring and FC2 is bedded down it is a suitable time to look at this one. The table will need modifying.
Another one for the Committee meeting Agenda on 27 August I think.
Geoff

[2022-08-14 10:24] geoffj-FUG commented on #243
Blocked by #1437. Once #1437 is complete then this is straight forward.
We would know if a transcriber is active if they have uploaded to FC2 in the past x months. However we do not even know whether a transcriber who is working on the FC1 spreadsheet is even registered. All the uploads are being done by the Coordinator. This cannot be achieved in FreeCEN until all transcribers are working on FC2.

[2022-08-14 10:38] geoffj-FUG commented on #58
This cannot be done in FreeCEN. Whilst we know how many records were 'worked on' in FC2 everything in FC1 is anonymous. In addition the FC2 Validator count would be false as not all records are manually validated. Our filing does not distinguish between transcription, proofreading and validation. The Coordinator knows from their own records but the system doesn't.
Geoff

[2022-08-16 09:37] DeniseColbert commented on #267
Duplicate of #215 so closing

[2022-08-16 09:37] #267 closed, assigned to PatReynolds, DeniseColbert

[2022-08-17 11:21] PatReynolds commented on #152
Decision made to implement where volunteers with accessibility requirements may be working / need the information

@DeniseColbert to add stories to roadmaps, etc as needed (in appropriate phase)

[2022-08-17 11:24] PatReynolds commented on #104
In sum: does it help or hinder some users to have alternate stripes in tables?

[2022-08-17 11:30] PatReynolds commented on #206
Closing as complete

[2022-08-17 11:30] #206 closed, assigned to nobody

[2022-08-17 11:32] PatReynolds commented on #187
@Vino-S I think this was completed in 2020 - is that correct?

[2022-08-17 11:33] DeniseColbert opened #268 "Things to make sure we test with users"
- Name fields: FN-SN or SN-FN?
- Form error messages

[2022-08-17 11:48] #93 closed

[2022-08-17 11:48] PatReynolds commented on #93
We have made significant changes to our website and believe this is now resolved. We can re-open if testing / coments show that it is still an issue.

[2022-08-17 11:49] PatReynolds commented on #110
@Vino-S do you know what this issue is about?  Is it still something we need to address?

[2022-08-17 11:55] DeniseColbert commented on #83
This is done so closing

[2022-08-17 11:55] #83 closed

[2022-08-17 12:08] PatReynolds commented on #98
@PatReynolds to see if this is still an issue

[2022-08-17 12:12] PatReynolds commented on #196
Not on beta.freebmd - need to check whether it is on test3.freebmd

[2022-08-17 12:13] PatReynolds commented on #202
Appears to be fixed, so closing

[2022-08-17 12:13] #202 closed, assigned to nobody

[2022-08-18 12:59] DeniseColbert commented on #270
Add before search form:

Tip: double-tab to move between fields

[2022-08-18 13:01] DeniseColbert commented on #270
CEN first, then REG if it goes well.

[2022-08-18 13:06] PatReynolds commented on #191
@PatReynolds got no response from enquiry as to whether there was an objection to us sharing the link.

[2022-08-18 13:48] DeniseColbert commented on #139
@AlOneill to place an example of semantic markup

"Links to external sites" section needs updating

[2022-08-22 15:51] PatReynolds opened #271 "Consider inviting those using ad blockers to unblock on our sites"
See https://support.google.com/adsense/answer/11576589 for details of how this would work.

[2022-08-22 15:57] PatReynolds opened #272 "aib tcf errors"
Details of affected adverts: https://docs.google.com/spreadsheets/d/1fvTmEBVCOP5gAECOLJ0ZA1ICqus-sGEJpd_jsmyn2uM/edit?usp=sharing

[2022-08-22 16:03] SteveBiggs commented on #271
Good idea.

[2022-08-22 16:35] richpomfret commented on #279
Any update on this one @AlOneill?

[2022-08-31 16:46] AlOneill commented on #279
Still working on text of post — not clear where issue could be in the publishing process, so not clear what to ask …

[2022-09-05 10:44] AlOneill commented on #139
@DeniseColbert I've updated the [DRAFT Guide](https://test3.freebmd.org.uk/cms/draft-using-refinery/draft-marking-up-pages-in-refinery) as requested.

BTW, I could not find an '@' for Philip Clarke so will send an email separately. Strange — I'm sure he had one previously.

[2022-09-06 15:47] PatReynolds commented on #275
Needs to be done as part of updating cookie consents.

[2022-09-07 08:39] DeniseColbert commented on #275
This was on FC board but applies to all of our sites

[2022-09-12 08:42] PatReynolds commented on #104
"The results of the three studies conducted to date suggest that the safest option is to shade the alternating, individual rows of your table with a single color. Taking this approach is likely to ensure that:
task performance is better, or at least no worse, than with other table styles, and
the aesthetic sensibilities and subjective preferences of the majority of your users are catered for.
If z

[2022-09-12 09:14] PatReynolds commented on #154
Family Search has ?permanent image urls eg https://www.familysearch.org/records/images/image-details?page=1&place=3041641&rmsId=M9SM-14M&imageIndex=3&singleView=true

https://search.findmypast.co.uk/record?id=GBOR%2FPDFS%2FYORKTRADE%2FY-910-1849-1849%2F0012&parentid=GBOR%2FPDFS%2FYORKTRADE%2FY-910-1849-1849%2F0012%2F132%2F1

https://search.findmypast.co.uk/record?id=OR%2FPECY%2F0025%2F0169&parenti

[2022-09-12 09:28] PatReynolds commented on #230
Checked several, e.g. https://docs.google.com/forms/d/1K5cqRXK8kP4yqvgVBsWskhRG_ap1Z87ny5cQ6SACdN0/edit

All put more than one question per page.

https://docs.google.com/forms/d/1XUw_ECIF9PGXP5uxmxjoVAgyR7BUw8PDlO_78cNNa14/edit
Has a required question where "required" does not appear in the relevant text.

Can't now find what WebAIM said about "accesible types of questions" - but found this https

[2022-09-12 14:34] Vino-S commented on #262
Ready for testing in test3 FR and FC

[2022-09-12 14:34] Vino-S commented on #232
Ready for testing in test3 FC

[2022-09-12 16:06] DeniseColbert commented on #262
Denise to test

[2022-09-12 16:06] DeniseColbert commented on #232
Denise to test

[2022-09-12 16:09] DeniseColbert commented on #231
Vino needs to do initial test and will ask @AlOneill if any further info is needed

[2022-09-12 16:10] DeniseColbert commented on #139
Philip only has access to the FreeBMD2 board, I think @AlOneill (where this story was transferred from)

[2022-09-12 16:13] DeniseColbert commented on #104
This type of thing is to be implemented: https://user-images.githubusercontent.com/46780491/72273871-0db5e080-3623-11ea-84c0-9a5ff4d69893.png

[2022-09-12 16:16] DeniseColbert commented on #154
This needs to be discussed with FamilySearch. Wouldn't want to link to images behind paywalls, only free/behind a free login.

[2022-09-12 16:26] DeniseColbert commented on #55
Each time we do a deployment, Vino to post release notes to refinery.

@Vino-S to check how much info is retained

[2022-09-12 16:32] DeniseColbert opened #276 "Roadmap reviews"
FR & FC sooner rather than later
BMD2 during Beta testing

[2022-09-12 16:36] DeniseColbert commented on #234
For October newsletter

[2022-09-12 16:37] DeniseColbert commented on #237
Hey @PatReynoldsFUG I’m using Zenhub in GitHub, [click this link](https://app.zenhub.com/workspaces/system-wide-code-changes-5ccc857f10a32d7d637c8f48/board) to join my workspace and see other features available in GitHub or [download the Zenhub extension](https://www.zenhub.com/extension) and sign up with your GitHub account.
  _Posted using [Zenhub](https://www.zenhub.com)_

[2022-09-12 16:48] DeniseColbert commented on #269
@Vino-S to investigate how we could do this.

[2022-09-12 16:53] DeniseColbert commented on #265
@DeniseColbert to check that this can easily be done via message system on CEN & REG

[2022-09-12 16:55] DeniseColbert commented on #264
@AlOneill is it possible to create a list of these instances so that Vino can fix?

[2022-09-13 13:21] AlOneill commented on #264
@DeniseColbert
I am confused: developer tools puts a bunch of head elements in the body; view source has them in the head, where they belong. Will re-check another day (when brain might be able to sort it out?!).

[2022-09-15 12:50] DeniseColbert commented on #230
"We're working to increase accessibility on survey forms." to be added to the Accessibility Statements

[2022-09-15 12:51] PatReynoldsFUG commented on #230
Pat to add 'creating forms' to Accesibility guidance  nb not for search forms - this is for use of google forms (and similar)

[2022-09-15 12:52] PatReynoldsFUG commented on #240
Pat to add 'creating forms' to Accesibility guidance  nb not for search forms - this is for use of google forms (and similar)  information for inclusion is on story 230

[2022-09-15 12:54] DeniseColbert commented on #13
@AlOneill to get sync-ready

[2022-09-16 11:27] AlOneill commented on #13
The REG page, https://test3.freereg.org.uk/cms/opportunities-to-volunteer-with-freereg is now sync-ready

[2022-09-16 12:04] AlOneill commented on #139
@DeniseColbert FYI, trying to put a non-breaking hyphen in a Refinery page crashed the processing on save. I'll add it to the list.

[2022-09-17 15:39] AlOneill commented on #104
My feeling is that it has to be _either_ zebra stripes _or_ the hover effect: both is overkill and generates too much flickering as one scrolls. My vote is for zebra stripes.

Also, if we continue to use zebra stripes, then it should be the same colour for all screen sizes and the colour should be neutral or something close to neutral — at present it is yellow (ugh) on narrow screens.

[2022-09-21 15:19] richardofsussex commented on #279
I have added `<aside id="about-page" role="article" aria-label="Home page">...</aside>` to a record in refinery_page_part_translations. It comes out in the page as `<aside id="about-page">...</aside>`. This shows that the non-standard attributes role and aria-label are being stripped, either within the CGI process which fetches the HTML, or within Rails itself.

[2022-09-22 11:30] richardofsussex commented on #279
Found it! The configuration file config\initializers\refinery\pages.rb includes whitelists for both elements and attributes. I've tested "role" and "aria-label" - these now both appear. @AlOneill can you please provide me with a full list of the ARIA elements and attributes which you actually want to use, and I'll add them all in.

[2022-09-22 11:45] AlOneill commented on #279
@richardofsussex
Grand! Those are the two main ARIA attributes that I've been attempting to use. I'll need some thinking time for adding any to the list. I'm relatively new to ARIA and have not necessarily got my head around **all** that we might need. (Of course, the Refinery configuration files will need updating on each site.)

But, now that you know where to find that file, there are some more

[2022-09-22 11:54] AlOneill commented on #279
@richardofsussex
The list will _include_ among others: aria-labelledby , … (brain ticking over slowly!)

[2022-09-22 12:16] richardofsussex commented on #279
OK, I've added that one, and pushed the result (branch fb_473_rbl). @Vino-S could you please merge this branch and update test3 so @AlOneill can confirm that her ARIA attributes now appear? (This branch also includes a fix for FreeUKGen/FreeBMD2#515, since this was trivial.)

[2022-09-23 10:59] AlOneill commented on #279
The 3 ARIA attributes we are currently using on Refinery pages — role, aria-label, aria-labelledby — are all now operational.

Will look for any others that we could need (in the short to medium term) plus any elements and entities that would enhance our current pages.

[2022-09-23 14:21] PatReynoldsFUG commented on #279
Excellent!  Thank you both.  I will unassign myself.

[2022-09-29 08:34] PatReynoldsFUG commented on #272
Ah - thought I had lost the essential data on which adverts were affected, but they are in the attached spreadsheet!

Suggest removing the not-used adverts and "CMP should delete the old TC string and reobtain consent."

[2022-09-29 09:01] PatReynoldsFUG commented on #228
Turns out to be a developer task.
See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/displaying-a-sponsor-button-in-your-repository

The option we need to implement, I think is:

custom: # Replace with up to 4 custom sponsorship URLs e.g., ['link1', 'link2']

For discussion: link to https://www.freeukgenealogy.org.uk/help-us-keep

[2022-09-29 14:02] DeniseColbert commented on #13
Vino to delpoy

[2022-09-29 14:03] DeniseColbert commented on #221
To be delpoyed to live by @Vino-S

[2022-09-29 14:10] DeniseColbert commented on #232
@Vino-S to place another, white banner below the magenta one. text to be:

"The space below is reserved for an advertisement"

[2022-09-29 14:18] DeniseColbert commented on #102
@Vino-S to review console errors

[2022-09-29 14:18] DeniseColbert commented on #154
@DeniseColbert to contact Chris Norton of LDS

[2022-09-29 14:23] DeniseColbert commented on #272
@Vino-S to remove these ad units from our code

[2022-09-29 14:29] DeniseColbert commented on #67
Compliance with other countries' rules
Compliance with what replaced GDPR in August

[2022-09-29 14:42] DeniseColbert commented on #269
Ask some Coords if this is needed, how it could work

[2022-09-29 14:42] PatReynoldsFUG commented on #269
On FreeREG the Transcribers have links at the bottom of the main help page.

[2022-09-29 14:47] DeniseColbert commented on #264
@Vino-S and @AlOneill to look at this

[2022-09-29 16:28] SteveBiggs commented on #269
That's true @PatReynoldsFUG but there are still items buried within those links that would benefit from a search by keyword IMHO.

[2022-09-30 09:23] AlOneill commented on #269
@SteveBiggs
Yes, a way of searching for keywords in the whole Transcriber Help section would be very useful. Until we can devise a way of making that happen …
Could you give a couple of examples of "items buried within those links" that ought to be unearthed in some way? Thanks.

[2022-09-30 18:57] SteveBiggs commented on #269
A simple example would be searching for information about the various 'Roles' within FreeREG. If I didn't know it was under 'Behind the Scenes', I could be searching for a long time to find it. I'm sure there are lots of similar examples.

Something I always have trouble finding is the table of Register Types - I can't find it now!

[2022-09-30 19:03] SteveBiggs commented on #269
I finally found the table of Register Types & Codes under Transcriber Help->Entering data from registers :-)

[2022-10-01 10:19] AlOneill commented on #269
@SteveBiggs Thank you for those. They are both simple to address:  when I have a window, I will ensure that both "Register Type" and "Role" can be found with Ctrl/Cmd-F on "Information for transcribers".

[2022-10-01 10:37] SteveBiggs commented on #269
Thanks @AlOneill . They were just two examples that immediately came to mind. What I'm looking for is a general keyword search so you could search for any word and a list of all pages/sections containing that word is returned.

Fyi, a search for 'Register Types' on "Information for transcribers" already brings up 2 results but neither links directly to the table of types.

[2022-10-01 10:42] SteveBiggs commented on #269
Also, I would expect the table of Register Types to be more appropriately accessible somewhere under "Information for Coordinators" since they are generally specified by coords. That's where I start looking when I've forgotten where it is and why it takes so long to find it!

[2022-10-01 11:05] AlOneill opened #277 "Review our use of the nav element and of role="navigation" in the footer element (for screen reader users)"
The `nav` element and the ARIA attribute `role="navigation"` perform essentially the same function: they identify major groups of links used for navigating through a website or page content. See https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/navigation_role or similar.

What constitutes a "major group of links" is debatable: do we judge by number of links or something else?

[2022-10-01 11:09] AlOneill commented on #269
@SteveBiggs Noted!! A general keyword search would require programming to be manageable and reliable, but you probably realise that.

[2022-10-01 11:49] AlOneill commented on #269
@SteveBiggs
Link to the actual page (!) added to "Info for Coords" :

----------
![Information_for_Coordinators___FreeREG.png](https://images.zenhubusercontent.com/5ce6b34165b1a70acc0a9124/590c95ce-67d8-4f1d-beff-f4b69b00c8db)

------
and also to current DRAFT Info for transcribers.

"Roles" requires more thought … and time …

[2022-10-01 18:20] SteveBiggs commented on #269
Where have you added this @AlOneill ? I don't see it on the live site.

[2022-10-02 09:28] AlOneill commented on #269
@SteveBiggs
It's on t3: https://test3.freereg.org.uk/cms/information-for-coordinators

[2022-10-02 09:59] SteveBiggs commented on #269
Thanks @AlOneill

[2022-10-02 10:01] SteveBiggs commented on #269
I wouldn't worry about doing anything with "Roles" as that is easy to find - I just used it as a simple example to explain my request.

[2022-10-10 09:16] AlOneill commented on #264
It seems that, one way or another, this is no longer an issue. Closing as no longer relevant.